<div class="card shadow-animated">
    <div class="card-header bg-secondary text-white">
        <h4 class="h4 card-title">Daily Diet</h4>
    </div>
    <div class="card-body mt-2">
        <div [swiper]="SWIPER_CONFIG" class="swiper-container">
            <div class="swiper-wrapper">
                <div class="swiper-slide">
                    <div class="card">
                        <img class="card-img img-fluid" src="assets/img/breakfast.jpeg" alt="Card image cap">
                        <div class="card-img-overlay text-white text-right">
                            <h4 class="card-title">Card Breakfast</h4>
                            <p class="card-text">7-8 AM</p>
                        </div>
                        <div class="card-body">
                            <div id="accordion-breakfast" role="tablist" aria-multiselectable="true">
                                <div class="card">
                                    <div class="card-header bg-primary" role="tab" id="breakfast">
                                        <h5 class="mb-0">
                                            <a data-toggle="collapse" data-parent="#accordion-breakfast" href="#monday-breakfast-1" aria-expanded="false" aria-controls="monday-breakfast-1">
                                                Cafe
                                                <i class="fa pull-right" aria-hidden="true"></i>
                                            </a>
                                        </h5>
                                    </div>
                                    <div id="monday-breakfast-1" class="collapse" role="tabpanel" aria-labelledby="breakfast">
                                        <ul class="list-group list-group-flush">
                                            <li class="list-group-item d-flex justify-content-between">Cafe
                                                <span class="badge badge-pill badge-secondary">60ml</span>
                                            </li>
                                            <li class="list-group-item d-flex justify-content-between">Leche Desnatada
                                                <span class="badge badge-pill badge-secondary">80ml</span>
                                            </li>
                                            <li class="list-group-item d-flex justify-content-between">Sacarina
                                                <span class="badge badge-pill badge-secondary">2 uds</span>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="card">
                                    <div class="card-header bg-primary" role="tab" id="breakfast">
                                        <h5 class="mb-0">
                                            <a class="collapsed" data-toggle="collapse" data-parent="#accordion-breakfast" href="#monday-breakfast-2" aria-expanded="false"
                                                aria-controls="monday-breakfast-2">
                                                Manzana
                                                <i class="fa pull-right" aria-hidden="true"></i>
                                            </a>
                                        </h5>
                                    </div>
                                    <div id="monday-breakfast-2" class="collapse" role="tabpanel" aria-labelledby="breakfast">
                                        <div class="card-body">
                                            1 Manzana roja de tamaño medio
                                        </div>
                                    </div>
                                </div>
                                <div class="card">
                                    <div class="card-header bg-primary" role="tab" id="breakfast">
                                        <h5 class="mb-0">
                                            <a class="collapsed" data-toggle="collapse" data-parent="#accordion-breakfast" href="#monday-breakfast-3" aria-expanded="false"
                                                aria-controls="monday-breakfast-3">
                                                Pan con Queso
                                                <i class="fa pull-right" aria-hidden="true"></i>
                                            </a>
                                        </h5>
                                    </div>
                                    <div id="monday-breakfast-3" class="collapse" role="tabpanel" aria-labelledby="breakfast">
                                        <div class="card-body">
                                            Dos rebanadas de pan con queso y una cucharada de aceite de oliva
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="card">
                        <img class="card-img img-fluid" src="assets/img/brunch.jpeg" alt="Card image cap">
                        <div class="card-img-overlay text-white text-right">
                            <h4 class="card-title">Card Brunch</h4>
                            <p class="card-text">7-8 AM</p>
                        </div>
                        <div class="card-body">
                            <div id="accordion-brunch" role="tablist" aria-multiselectable="true">
                                <div class="card">
                                    <div class="card-header bg-primary" role="tab" id="brunch">
                                        <h5 class="mb-0">
                                            <a data-toggle="collapse" data-parent="#accordion-brunch" href="#monday-brunch-1" aria-expanded="false" aria-controls="monday-brunch-1">
                                                Cafe
                                                <i class="fa pull-right" aria-hidden="true"></i>
                                            </a>
                                        </h5>
                                    </div>
                                    <div id="monday-brunch-1" class="collapse" role="tabpanel" aria-labelledby="brunch">
                                        <div class="card-body">
                                            Un cafe con leche y sacarina
                                        </div>
                                    </div>
                                </div>
                                <div class="card">
                                    <div class="card-header bg-primary" role="tab" id="brunch">
                                        <h5 class="mb-0">
                                            <a class="collapsed" data-toggle="collapse" data-parent="#accordion-brunch" href="#monday-brunch-2" aria-expanded="false"
                                                aria-controls="monday-brunch-2">
                                                Manzana
                                                <i class="fa pull-right" aria-hidden="true"></i>
                                            </a>
                                        </h5>
                                    </div>
                                    <div id="monday-brunch-2" class="collapse" role="tabpanel" aria-labelledby="brunch">
                                        <div class="card-body">
                                            1 Manzana roja de tamaño medio
                                        </div>
                                    </div>
                                </div>
                                <div class="card">
                                    <div class="card-header bg-primary" role="tab" id="brunch">
                                        <h5 class="mb-0">
                                            <a class="collapsed" data-toggle="collapse" data-parent="#accordion-brunch" href="#monday-brunch-3" aria-expanded="false"
                                                aria-controls="monday-brunch-3">
                                                Pan con Queso
                                                <i class="fa pull-right" aria-hidden="true"></i>
                                            </a>
                                        </h5>
                                    </div>
                                    <div id="monday-brunch-3" class="collapse" role="tabpanel" aria-labelledby="brunch">
                                        <div class="card-body">
                                            Dos rebanadas de pan con queso y una cucharada de aceite de oliva
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="card">
                        <img class="card-img img-fluid" src="assets/img/lunch.jpeg" alt="Card image cap">
                        <div class="card-img-overlay text-white text-right">
                            <h4 class="card-title">Card Lunch</h4>
                            <p class="card-text">7-8 AM</p>
                        </div>
                        <div class="card-body">
                            <div id="accordion-lunch" role="tablist" aria-multiselectable="true">
                                <div class="card">
                                    <div class="card-header bg-primary" role="tab" id="lunch">
                                        <h5 class="mb-0">
                                            <a data-toggle="collapse" data-parent="#accordion-lunch" href="#monday-lunch-1" aria-expanded="false" aria-controls="monday-lunch-1">
                                                Cafe
                                                <i class="fa pull-right" aria-hidden="true"></i>
                                            </a>
                                        </h5>
                                    </div>
                                    <div id="monday-lunch-1" class="collapse" role="tabpanel" aria-labelledby="lunch">
                                        <div class="card-body">
                                            Un cafe con leche y sacarina
                                        </div>
                                    </div>
                                </div>
                                <div class="card">
                                    <div class="card-header bg-primary" role="tab" id="lunch">
                                        <h5 class="mb-0">
                                            <a class="collapsed" data-toggle="collapse" data-parent="#accordion-lunch" href="#monday-lunch-2" aria-expanded="false" aria-controls="monday-lunch-2">
                                                Manzana
                                                <i class="fa pull-right" aria-hidden="true"></i>
                                            </a>
                                        </h5>
                                    </div>
                                    <div id="monday-lunch-2" class="collapse" role="tabpanel" aria-labelledby="lunch">
                                        <div class="card-body">
                                            1 Manzana roja de tamaño medio
                                        </div>
                                    </div>
                                </div>
                                <div class="card">
                                    <div class="card-header bg-primary" role="tab" id="lunch">
                                        <h5 class="mb-0">
                                            <a class="collapsed" data-toggle="collapse" data-parent="#accordion-lunch" href="#monday-lunch-3" aria-expanded="false" aria-controls="monday-lunch-3">
                                                Pan con Queso
                                                <i class="fa pull-right" aria-hidden="true"></i>
                                            </a>
                                        </h5>
                                    </div>
                                    <div id="monday-lunch-3" class="collapse" role="tabpanel" aria-labelledby="lunch">
                                        <div class="card-body">
                                            Dos rebanadas de pan con queso y una cucharada de aceite de oliva
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="card">
                        <img class="card-img img-fluid" src="assets/img/snack.jpeg" alt="Card image cap">
                        <div class="card-img-overlay text-white text-right">
                            <h4 class="card-title">Card Snack</h4>
                            <p class="card-text">7-8 AM</p>
                        </div>
                        <div class="card-body">
                            <div id="accordion-snack" role="tablist" aria-multiselectable="true">
                                <div class="card">
                                    <div class="card-header bg-primary" role="tab" id="snack">
                                        <h5 class="mb-0">
                                            <a data-toggle="collapse" data-parent="#accordion-snack" href="#monday-snack-1" aria-expanded="false" aria-controls="monday-snack-1">
                                                Cafe
                                                <i class="fa pull-right" aria-hidden="true"></i>
                                            </a>
                                        </h5>
                                    </div>
                                    <div id="monday-snack-1" class="collapse" role="tabpanel" aria-labelledby="snack">
                                        <div class="card-body">
                                            Un cafe con leche y sacarina
                                        </div>
                                    </div>
                                </div>
                                <div class="card">
                                    <div class="card-header bg-primary" role="tab" id="snack">
                                        <h5 class="mb-0">
                                            <a class="collapsed" data-toggle="collapse" data-parent="#accordion-snack" href="#monday-snack-2" aria-expanded="false" aria-controls="monday-snack-2">
                                                Manzana
                                                <i class="fa pull-right" aria-hidden="true"></i>
                                            </a>
                                        </h5>
                                    </div>
                                    <div id="monday-snack-2" class="collapse" role="tabpanel" aria-labelledby="snack">
                                        <div class="card-body">
                                            1 Manzana roja de tamaño medio
                                        </div>
                                    </div>
                                </div>
                                <div class="card">
                                    <div class="card-header bg-primary" role="tab" id="snack">
                                        <h5 class="mb-0">
                                            <a class="collapsed" data-toggle="collapse" data-parent="#accordion-snack" href="#monday-snack-3" aria-expanded="false" aria-controls="monday-snack-3">
                                                Pan con Queso
                                                <i class="fa pull-right" aria-hidden="true"></i>
                                            </a>
                                        </h5>
                                    </div>
                                    <div id="monday-snack-3" class="collapse" role="tabpanel" aria-labelledby="snack">
                                        <div class="card-body">
                                            Dos rebanadas de pan con queso y una cucharada de aceite de oliva
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="card">
                        <img class="card-img img-fluid" src="assets/img/dinner.jpeg" alt="Card image cap">
                        <div class="card-img-overlay text-white text-right">
                            <h4 class="card-title">Card Dinner</h4>
                            <p class="card-text">7-8 AM</p>
                        </div>
                        <div class="card-body">
                            <div id="accordion-dinner" role="tablist" aria-multiselectable="true">
                                <div class="card">
                                    <div class="card-header bg-primary" role="tab" id="dinner">
                                        <h5 class="mb-0">
                                            <a data-toggle="collapse" data-parent="#accordion-dinner" href="#monday-dinner-1" aria-expanded="false" aria-controls="monday-dinner-1">
                                                Cafe
                                                <i class="fa pull-right" aria-hidden="true"></i>
                                            </a>
                                        </h5>
                                    </div>
                                    <div id="monday-dinner-1" class="collapse" role="tabpanel" aria-labelledby="dinner">
                                        <div class="card-body">
                                            Un cafe con leche y sacarina
                                        </div>
                                    </div>
                                </div>
                                <div class="card">
                                    <div class="card-header bg-primary" role="tab" id="dinner">
                                        <h5 class="mb-0">
                                            <a class="collapsed" data-toggle="collapse" data-parent="#accordion-dinner" href="#monday-dinner-2" aria-expanded="false"
                                                aria-controls="monday-dinner-2">
                                                Manzana
                                                <i class="fa pull-right" aria-hidden="true"></i>
                                            </a>
                                        </h5>
                                    </div>
                                    <div id="monday-dinner-2" class="collapse" role="tabpanel" aria-labelledby="dinner">
                                        <div class="card-body">
                                            1 Manzana roja de tamaño medio
                                        </div>
                                    </div>
                                </div>
                                <div class="card">
                                    <div class="card-header bg-primary" role="tab" id="dinner">
                                        <h5 class="mb-0">
                                            <a class="collapsed" data-toggle="collapse" data-parent="#accordion-dinner" href="#monday-dinner-3" aria-expanded="false"
                                                aria-controls="monday-dinner-3">
                                                Pan con Queso
                                                <i class="fa pull-right" aria-hidden="true"></i>
                                            </a>
                                        </h5>
                                    </div>
                                    <div id="monday-dinner-3" class="collapse" role="tabpanel" aria-labelledby="dinner">
                                        <div class="card-body">
                                            Dos rebanadas de pan con queso y una cucharada de aceite de oliva
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="card">
                        <img class="card-img img-fluid" src="assets/img/bed.jpeg" alt="Card image cap">
                        <div class="card-img-overlay text-white text-right">
                            <h4 class="card-title">Card Bed</h4>
                            <p class="card-text">7-8 AM</p>
                        </div>
                        <div class="card-body">
                            <div id="accordion-bed" role="tablist" aria-multiselectable="true">
                                <div class="card">
                                    <div class="card-header bg-primary" role="tab" id="bed">
                                        <h5 class="mb-0">
                                            <a data-toggle="collapse" data-parent="#accordion-bed" href="#monday-bed-1" aria-expanded="false" aria-controls="monday-bed-1">
                                                Cafe
                                                <i class="fa pull-right" aria-hidden="true"></i>
                                            </a>
                                        </h5>
                                    </div>
                                    <div id="monday-bed-1" class="collapse" role="tabpanel" aria-labelledby="bed">
                                        <div class="card-body">
                                            Un cafe con leche y sacarina
                                        </div>
                                    </div>
                                </div>
                                <div class="card">
                                    <div class="card-header bg-primary" role="tab" id="bed">
                                        <h5 class="mb-0">
                                            <a class="collapsed" data-toggle="collapse" data-parent="#accordion-bed" href="#monday-bed-2" aria-expanded="false" aria-controls="monday-bed-2">
                                                Manzana
                                                <i class="fa pull-right" aria-hidden="true"></i>
                                            </a>
                                        </h5>
                                    </div>
                                    <div id="monday-bed-2" class="collapse" role="tabpanel" aria-labelledby="bed">
                                        <div class="card-body">
                                            1 Manzana roja de tamaño medio
                                        </div>
                                    </div>
                                </div>
                                <div class="card">
                                    <div class="card-header bg-primary" role="tab" id="bed">
                                        <h5 class="mb-0">
                                            <a class="collapsed" data-toggle="collapse" data-parent="#accordion-bed" href="#monday-bed-3" aria-expanded="false" aria-controls="monday-bed-3">
                                                Pan con Queso
                                                <i class="fa pull-right" aria-hidden="true"></i>
                                            </a>
                                        </h5>
                                    </div>
                                    <div id="monday-bed-3" class="collapse" role="tabpanel" aria-labelledby="bed">
                                        <div class="card-body">
                                            Dos rebanadas de pan con queso y una cucharada de aceite de oliva
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="swiper-pagination"></div>
        </div>
    </div>
</div>