.section-heading h2 {
  font-size: 30px;
  margin-bottom: 40px;
  line-height: 1.5;
  color: #000;
  text-transform: uppercase;
  position: relative;
}
.section-heading > h2::after{
  position: absolute;
  bottom: -10px;
  left: 0;
  right: 0;
  width: 60px;
  height: 2px;
  margin: 0 auto;
  background: #00733e;
  content: '';
}
.card {
  border: 0;
  border-radius: 0px;
  -webkit-box-shadow: 0 3px 0px 0 rgba(0, 0, 0, 0.08);
  box-shadow: 0 3px 0px 0 rgba(0, 0, 0, 0.08);
  transition: all .3s ease-in-out;
  padding: 2.25rem;
  position: relative;
  will-change: transform;
}
.card:after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 0%;
  height: 5px;
  background-color: #00733e;
  transition: 0.5s;
}
.card:hover {
  transform: scale(1.05);
  -webkit-box-shadow: 0 20px 35px 0 rgba(0, 0, 0, 0.08);
  box-shadow: 0 20px 35px 0 rgba(0, 0, 0, 0.08);
}
.card:hover:after {
  width: 100%;
}
.card .card-header {
  background-color: transparent;
  padding-left: 2rem;
  border-bottom: 0px;
}
.card .card-title {
  margin-bottom: 1rem;
}
.card .card-block {
  padding-top: 0;
}
.card .list-group-item {
  border: 0px;
  padding: .25rem;
  color: #808080;
  font-weight: 300;
}
.display-2 {
  font-size: 7rem;
  letter-spacing: -.5rem;
}
.display-2 .currency {
  font-size: 2.75rem;
  position: relative;
  font-weight: 400;
  top: -45px;
  letter-spacing: 0px;
}
.display-2 .period {
  font-size: 1rem;
  color: #b3b3b3;
  letter-spacing: 0px;
}
.list-group{
  background-color: transparent;
}