<div class="container">
	<div class="row mb-2">
		<div class="col-12 text-center section-heading">
			<h2>Servicios</h2>
		</div>
	</div>
	<div class="row d-flex justify-content-around text-center">
		<!-- Table #1  -->
		<div class="col-xs-6 col-md-6 col-lg-4">
			<div class="card text-xs-center">
				<div class="card-header">
				<h3 class="display-2"><span class="currency">$</span>19<span class="period">/month</span></h3>
				</div>
				<div class="card-block">
				<h4 class="card-title"> 
					Basic Plan
				</h4>
				<ul class="list-group">
					<li class="list-group-item">Ultimate Features</li>
					<li class="list-group-item">Responsive Ready</li>
					<li class="list-group-item">Visual Composer Included</li>
					<li class="list-group-item">24/7 Support System</li>
				</ul>
				<a href="#" class="btn btn-custom btn-gradient mt-2">Choose Plan</a>
				</div>
			</div>
		</div>

		<!-- Table #1  -->
		<div class="col-xs-6 col-md-6 col-lg-4">
		<div class="card text-xs-center">
			<div class="card-header">
			<h3 class="display-2"><span class="currency">$</span>29<span class="period">/month</span></h3>
			</div>
			<div class="card-block">
			<h4 class="card-title"> 
				Regular Plan
			</h4>
			<ul class="list-group">
				<li class="list-group-item">Ultimate Features</li>
				<li class="list-group-item">Responsive Ready</li>
				<li class="list-group-item">Visual Composer Included</li>
				<li class="list-group-item">24/7 Support System</li>
			</ul>
			<a href="#" class="btn btn-custom btn-gradient mt-2">Choose Plan</a>
			</div>
		</div>
		</div>

		<!-- Table #1  -->
		<div class="col-xs-6 col-md-6 col-lg-4">
		<div class="card text-xs-center">
			<div class="card-header">
			<h3 class="display-2"><span class="currency">$</span>39<span class="period">/month</span></h3>
			</div>
			<div class="card-block">
			<h4 class="card-title"> 
				Premium Plan
			</h4>
			<ul class="list-group">
				<li class="list-group-item">Ultimate Features</li>
				<li class="list-group-item">Responsive Ready</li>
				<li class="list-group-item">Visual Composer Included</li>
				<li class="list-group-item">24/7 Support System</li>
			</ul>
			<a href="#" class="btn btn-custom btn-gradient mt-2">Choose Plan</a>
			</div>
		</div>
		</div>
  </div>
</div>

