<form [formGroup]="form" class="d-flex flex-column">
  <mat-form-field>
    <!-- none, 1, 1-3, 3-5, +5 -->
    <mat-select placeholder="¿Que desayuno?" floatPlaceholder="never" formControlName="weekendBreakfast">
      <mat-option *ngFor="let amount of unitAmount | enumKeys" [value]="amount.key">
        {{ amount.value }} Alimento(s)
      </mat-option>
    </mat-select>
  </mat-form-field>

  <mat-checkbox formControlName="weekendMidDay">¿Comiste algo a media mañana?</mat-checkbox>
  <mat-form-field *ngIf="form.controls.weekendMidDay.value">
    <!-- none, 1, 1-3, 3-5, +5 -->
    <mat-select placeholder="Indica el que:" floatPlaceholder="never" formControlName="weekendMidDayDescription">
      <mat-option *ngFor="let amount of unitAmount | enumKeys" [value]="amount.key">
        {{ amount.value }} Alimento(s)
      </mat-option>
    </mat-select>
  </mat-form-field>

  <mat-form-field>
    <!-- none, 1, 1-3, 3-5, +5 -->
    <mat-select placeholder="¿Que comio?" floatPlaceholder="never" formControlName="weekendLunch">
      <mat-option *ngFor="let amount of unitAmount | enumKeys" [value]="amount.key">
        {{ amount.value }} Alimento(s)
      </mat-option>
    </mat-select>
  </mat-form-field>

  <mat-checkbox formControlName="weekendSnack">¿Comiste algo a media tarde?</mat-checkbox>
  <mat-form-field *ngIf="form.controls.weekendSnack.value">
    <!-- none, 1, 1-3, 3-5, +5 -->
    <mat-select placeholder="Indica el que:" floatPlaceholder="never" formControlName="weekendSnackDescription">
      <mat-option *ngFor="let amount of unitAmount | enumKeys" [value]="amount.key">
        {{ amount.value }} Alimento(s)
      </mat-option>
    </mat-select>
  </mat-form-field>

  <mat-form-field>
    <!-- none, 1, 1-3, 3-5, +5 -->
    <mat-select placeholder="¿Que ceno?" floatPlaceholder="never" formControlName="weekendDinner">
      <mat-option *ngFor="let amount of unitAmount | enumKeys" [value]="amount.key">
        {{ amount.value }} Alimento(s)
      </mat-option>
    </mat-select>
  </mat-form-field>

  <mat-checkbox formControlName="weekendBed">¿Comiste algo a media noche?</mat-checkbox>
  <mat-form-field *ngIf="form.controls.weekendBed.value">
    <!-- none, light, heavy food -->
    <mat-select placeholder="Indica el que:" floatPlaceholder="never" formControlName="weekendBedDescription">
      <mat-option *ngFor="let type of foodType | enumKeys" [value]="type.key">
        {{ type.value }}
      </mat-option>
    </mat-select>
  </mat-form-field>

  <mat-form-field>
    <!-- none, 0.5L, 1L, 1.5L, 2L -->
    <mat-select placeholder="¿Cuanta agua toma?" floatPlaceholder="never" formControlName="weekendWater">
      <mat-option *ngFor="let water of waterAmount | enumKeys" [value]="water.key">
        {{ water.value }}
      </mat-option>
    </mat-select>
  </mat-form-field>

  <mat-form-field>
    <!-- none, morning, evening, all -->
    <mat-select placeholder="¿Suele picar entre horas?" floatPlaceholder="never" formControlName="weekendCheatFood">
      <mat-option *ngFor="let cheat of cheatTime | enumKeys" [value]="cheat.key">
        {{ cheat.value }}
      </mat-option>
    </mat-select>
  </mat-form-field>

  <mat-form-field>
    <!-- none, 1, 1-3, 3-5, +5 -->
    <mat-select placeholder="¿Tomo refrescos?" floatPlaceholder="never" formControlName="weekendTonics">
      <mat-option *ngFor="let amount of unitAmount | enumKeys" [value]="amount.key">
        {{ amount.value }} Vaso(s)
      </mat-option>
    </mat-select>
  </mat-form-field>

  <mat-form-field>
    <!-- none, 1, 1-3, 3-5, +5 -->
    <mat-select placeholder="¿Tomo alcohol?" floatPlaceholder="never" formControlName="weekendAlcohol">
      <mat-option *ngFor="let amount of unitAmount | enumKeys" [value]="amount.key">
        {{ amount.value }} Copa(s)
      </mat-option>
    </mat-select>
  </mat-form-field>

  <mat-checkbox formControlName="weekendSmoke">¿Fumó?</mat-checkbox>
</form>