<div class="bg-custom-gradient-green">
  <header class="masthead d-none d-lg-block">
      <div class="container text-center">
        <a (click)="showLogin()">
          <img class="animated pulse" width="20%" src="assets/img/logoNutricynn.png">
        </a>
      </div>
  </header>
  <nav class="navbar navbar-expand-lg navbar-light navbar-custom" id="mynav">
    <h5 class="my-0"><a class="navbar-brand d-block d-lg-none" href="#"><img width="40rem" class="mr-2" src="assets/img/logoNutricynn.png"><span class="align-middle">NUTRICYNN</span> </a></h5>
    <button class="navbar-toggler navbar-toggler-right btn btn-link" type="button" data-toggle="collapse" data-target="#toogle" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="toogle">
       <ul class="navbar-nav nav-justified w-100 align-items-center">
          <li class="nav-item">
              <a class="nav-link" href="#tips">Tips</a>
          </li>
          <li class="nav-item">
              <a class="nav-link" [routerLink]="['/admin']">Admin</a>
          </li>
          <li class="nav-item d-none d-lg-block">
              <h5 class="my-0"><a class="nav-link" href="#">NUTRICYNN</a></h5>
          </li>
          <li class="nav-item">
              <a class="nav-link" href="#services">Services</a>
          </li>
          <li class="nav-item">
              <a class="nav-link" [routerLink]="['/dashboard']">Dashboard</a>
          </li>
          <li class="nav-item d-block d-lg-none">
              <a class="nav-link" (click)="showLogin()">Login</a>
          </li>
      </ul>
    </div>
  </nav>
</div>
<!-- Begin page content -->
<section class="tips-section" id="tips">
  <app-main-cards></app-main-cards>
</section>
<section class="about-section" id="about">
</section>
<section class="bg-custom-gradient-green" id="services">
  <app-main-pricing></app-main-pricing>
</section>
<section class="contact-section" id="contact">
</section>
<!-- Footer -->
<app-main-footer></app-main-footer>