.header-bg {
  background-image: url('../../../../../assets/img/header-bg.jpg');
}
/* customize nav style */
.navbar-custom {
    background-color: transparent;
	  font-weight:700;
    border-width:0;
}
.navbar-custom  .navbar-nav>li>a {
	color: #ddd;
}
.navbar-custom  .navbar-nav li>a:hover, .navbar-nav li .open, .navbar-custom .navbar-nav .active a  {
	color: #222d32;
}
.navbar-brand{
  color: #ddd;
}
section{
  min-height: 100%;
  padding-top: 3em;
  padding-bottom: 3em;
}
.my-0 > a{
  color: #222d45;
  letter-spacing: 5px;
  font-weight: 800;
}
.overlay{
    position: fixed;
    z-index: 1;
    top: 0;
    right:0;
    overflow: hidden;
}
.z-2{
    z-index: 2;
}