<ul class="list-group list-group-flush">
    <li class="list-group-item d-flex justify-content-between align-items-center" *ngFor="let nutrient of food.nutrients">
        <div>{{ nutrient.nutrient.name }}</div>
        <div>
            {{ nutrient.quantity }} {{ nutrient.unit.shortName }}
            <button mat-icon-button color="warn" (click)="deleteNutrient(nutrient)">
                <mat-icon>delete</mat-icon>
            </button>
        </div>
    </li>

    <li class="list-group-item d-flex justify-content-between align-items-center">
        <form [formGroup]="nutrientForm" (submit)="addNutrient()">
            <mat-form-field>
                <mat-select placeholder="Nutrient" floatPlaceholder="never" formControlName="nutrient">
                    <mat-option *ngFor="let nutrient of nutrients | async" [value]="nutrient">
                        {{ nutrient.name }}
                    </mat-option>
                </mat-select>
            </mat-form-field>
            <mat-form-field class="w-25">
                <input type="number" step="0.1" min="0.1" matInput formControlName="quantity" placeholder="Quantity">
                <mat-error control="nutrientForm.controls.quantity">Campo obligatorio</mat-error>
            </mat-form-field>
            <mat-form-field>
                <mat-select placeholder="Unit" floatPlaceholder="never" formControlName="unit">
                    <mat-option *ngFor="let unit of units | async" [value]="unit">
                        {{ unit.name }}
                    </mat-option>
                </mat-select>
            </mat-form-field>
            <button type="submit" class="ml-2" mat-raised-button color="primary">
                Add Nutrient
            </button>
        </form>
    </li>
</ul>