<div class="card shadow-animated">
    <img class="card-img img-fluid" [src]="assets/img/" + 'getImage(meal.time)' + ".jpeg">
    <div class="card-img-overlay text-white text-right">
        <h4 class="card-title">{{ meal.mealName }}</h4>
        <small class="card-text">{{ meal.time }}</small>
    </div>
    <div class="card-body">
        <div id="{{parent + '-' + meal.mealName}}" role="tablist">
            <div *ngFor="let food of meal.foods; let i = index" class="card">
                <div class="card-header bg-primary" role="tab" id="{{meal.mealName}}">
                    <h5 class="mb-0">
                        <a class="collapsed" data-toggle="collapse" [attr.data-parent]="'#'+ parent +'-'+ meal.mealName" href="#{{parent}}-{{day}}-{{meal.mealName}}-{{i}}"
                            aria-expanded="false" [attr.aria-controls]="parent + '-' + day + '-' + meal.mealName + '-' + i">
                            {{ food.name }}
                            <i class="fa pull-right" aria-hidden="true"></i>
                        </a>
                    </h5>
                </div>
                <div id="{{parent}}-{{day}}-{{meal.mealName}}-{{i}}" class="collapse" role="tabpanel" [attr.aria-labelledby]="parent + '-' + meal.mealName">
                    <app-diet-food [food]="food"></app-diet-food>
                </div>
            </div>
        </div>
    </div>
</div>