.mat-expansion-panel {
    background-color: transparent;
    .mat-expansion-panel-header-description {
        color: rgba($color: #000000, $alpha: 0.6);
    }
}
a {
    color: rgba($color: #000000, $alpha: 0.8);
}