<mat-accordion displayMode="flat">
    <mat-expansion-panel hideToggle="true">
        <mat-expansion-panel-header>
            <mat-panel-title>
                <mat-icon>airplay</mat-icon>
            </mat-panel-title>
            <mat-panel-description> DashBoard </mat-panel-description>
        </mat-expansion-panel-header>
        <div class="d-flex align-items-end">
            <mat-list>
                <mat-list-item>
                    <a mat-line [routerLink]="['./events']"> Events </a>
                </mat-list-item>
                <mat-list-item>
                    <a mat-line [routerLink]="['./eventcategories']"> Categories </a>
                </mat-list-item>
            </mat-list>
        </div>
    </mat-expansion-panel>
    <mat-expansion-panel hideToggle="true">
        <mat-expansion-panel-header>
            <mat-panel-title>
                <mat-icon>person</mat-icon>
            </mat-panel-title>
            <mat-panel-description> Users </mat-panel-description>
        </mat-expansion-panel-header>
        <div class="d-flex align-items-end">
            <mat-list>
                <mat-list-item>
                    <a mat-line [routerLink]="['./users']"> Users </a>
                </mat-list-item>
            </mat-list>
        </div>
    </mat-expansion-panel>
    <mat-expansion-panel hideToggle="true">
        <mat-expansion-panel-header>
            <mat-panel-title>
                <mat-icon>restaurant_menu</mat-icon>
            </mat-panel-title>
            <mat-panel-description> Diets </mat-panel-description>
        </mat-expansion-panel-header>
        <div class="d-flex align-items-end">
            <mat-list>
                <mat-list-item>
                    <a mat-line [routerLink]="['./diet']"> Diets </a>
                </mat-list-item>
                <mat-list-item>
                    <a mat-line [routerLink]="['./mealName']"> Meal Names </a>
                </mat-list-item>
                <mat-list-item>
                    <a mat-line [routerLink]="['./nutrient']"> Nutrients </a>
                </mat-list-item>
                <mat-list-item>
                    <a mat-line [routerLink]="['./nutrientcategories']"> Categories </a>
                </mat-list-item>
                <mat-list-item>
                    <a mat-line [routerLink]="['./unit']"> Units </a>
                </mat-list-item>
            </mat-list>
        </div>
    </mat-expansion-panel>
    <mat-expansion-panel hideToggle="true">
        <mat-expansion-panel-header>
            <mat-panel-title>
                <mat-icon>add_to_queue</mat-icon>
            </mat-panel-title>
            <mat-panel-description> Main Page </mat-panel-description>
        </mat-expansion-panel-header>
        <div class="d-flex align-items-end">
            <mat-list>
                <mat-list-item>
                    <a mat-line [routerLink]="['./articles']"> Articles </a>
                </mat-list-item>
                <mat-list-item>
                    <a mat-line [routerLink]="['./articlecategories']"> Categories </a>
                </mat-list-item>
            </mat-list>
        </div>
    </mat-expansion-panel>
</mat-accordion>