<div class="card shadow-animated">
  <div class="card-header bg-secondary text-white">
      <h4 class="card-title">Macros Graph</h4>
  </div>
  <div class="card-body">
    <div class="chart-wrapper">
      <div class="chart" id="line-chart" style="display:block; height: 250;">
        <canvas baseChart width="400" height="250"
          [datasets]="lineChartData"
          [labels]="lineChartLabels"
          [options]="lineChartOptions"
          [colors]="lineChartColors"
          [legend]="lineChartLegend"
          [chartType]="lineChartType">
        </canvas>
      </div>
    </div>
  </div>
  </div>