<div class="container py-3">
    <mat-card>
        <div class="row d-flex justify-content-around my-5">
            <!-- Basic Data Card  -->
            <div class="col-6 px-5">
                <app-poll-basic-data-panel [poll]="model?.userPolls.pollBasicData" (updatedPoll)="updateBasicData($event)"></app-poll-basic-data-panel>
            </div>
            <!-- Clinical Data Card -->
            <div class="col-6 px-5">
                <app-poll-clinic-data-panel [poll]="model?.userPolls.pollClinicData" (updatedPoll)="updateClinicData($event)"></app-poll-clinic-data-panel>
            </div>
            <!-- Working Day Card  -->
            <div class="col-6 mt-4 px-5">
                <app-poll-week-diet-panel [poll]="model?.userPolls.pollWeekDiet" (updatedPoll)="updateWeekDiet($event)"></app-poll-week-diet-panel>
            </div>
            <!-- Weekend Day Card  -->
            <div class="col-6 mt-4 px-5">
                <app-poll-week-end-diet-panel [poll]="model?.userPolls.pollWeekEndDiet" (updatedPoll)="updateWeekEndDiet($event)"></app-poll-week-end-diet-panel>
            </div>
        </div>
    </mat-card>
</div>