<h2 mat-dialog-title class="text-center text-primary">Welcome</h2>
<div mat-dialog-content>
    <div class="d-flex align-items-center py-2">
        <div class="text-center">
            <form [formGroup]="loginForm" class="form-signin" (ngSubmit)="onSubmit()">
                <mat-form-field class="w-100">
                    <input matInput formControlName="email" id="email" placeholder="Email">
                    <mat-error control="loginForm.controls.email">Campo obligatorio</mat-error>
                </mat-form-field>
                <mat-form-field class="w-100">
                    <input matInput type="password" formControlName="password" id="password" placeholder="Password">
                    <mat-error control="loginForm.controls.password">Campo obligatorio</mat-error>
                </mat-form-field>
                <div class="w-100">
                    <button type="submit" class="btn btn-lg text-white btn-gradient mt-2" type="submit">Sign in</button>
                </div>
                <hr>
                <label>Or register:</label>
                <div class="d-flex align-content-center justify-content-center">
                    <button class="btn btn-lg text-white btn-gradient mt-2" (click)="showRegistry()">Register</button>
                </div>
                <!-- <div class="d-flex align-content-center justify-content-around">
                    <a href="#" class="icon-circle ifacebook" title="Facebook">
                        <i class="fa fa-facebook"></i>
                    </a>
                    <a href="#" class="icon-circle igoogle" title="Google">
                        <i class="fa fa-google"></i>
                    </a>
                </div> -->
            </form>
        </div>
    </div>
</div>