.min-size{
    min-height: 20em;
    min-width: 20em;
}
.dropdown-item:hover{
    background-color: #222d32;
    color: #ddd;
}
.mb-0 > a{
	color: #ddd;
	text-decoration: none;
}
.swiper-container {
    width: 100%;
    height: 100%;
}
.swiper-slide {
    text-align: center;
    font-size: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 3rem;
}
a[aria-expanded="false"] i:before{
	content: "\f067";
}
a[aria-expanded="true"] i:before{   
  	content: "\f068";
}