<h1 mat-dialog-title>
    <ng-template [ngIf]="data?.id" [ngIfElse]="create">
        Edit {{ title }}
    </ng-template>
    <ng-template #create>
        Create {{ title }}
    </ng-template>
</h1>
<div mat-dialog-content class="min-size py-2">
    <form [formGroup]="form" class="d-flex flex-column">
        <mat-form-field>
            <input matInput formControlName="name" id="name" placeholder="Name">
            <mat-error control="form.controls.name">Campo obligatorio</mat-error>
        </mat-form-field>
        <mat-form-field>
            <textarea matInput formControlName="description" id="description" placeholder="Description"></textarea>
        </mat-form-field>
    </form>
    <div class="container-fluid navbar-custom">
        <ul class="nav nav-pills bg-primary nav-justified">
            <li class="nav-item" *ngFor="let day of days | enumKeys">
                <a class="nav-link" data-toggle="tab" href="#{{day.value | capitalize}}" role="tab">{{day.value}}</a>
            </li>
        </ul>
    </div>
    <div class="tab-content">
        <div class="tab-pane" *ngFor="let dietDay of data.dietDays" id="{{dietDay.day | capitalize}}" role="tabpanel">
            <app-admin-diet-meal-editor [day]="dietDay"></app-admin-diet-meal-editor>
        </div>
    </div>
</div>
<div class="modal-footer" mat-dialog-actions>
    <button (click)="onSubmit()" mat-raised-button color="primary">Save</button>
    <button (click)="onCancel()" mat-raised-button color="secondary">Discard</button>
</div>