<nav class="navbar navbar-expand navbar-light navbar-custom bg-custom-gradient-green sticky-top" id="mydbnav">
    <a class="navbar-brand" href="#">
        <img width="50pm" class="img-fluid mr-2" src="assets/img/logoNutricynn.png">
        <span class="h3 heading align-middle">NUTRICYNN</span>
    </a>
    <button mat-button class="navbar-toggler navbar-toggler-right" (click)="dashboardsidenav.open()">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="toogle">
        <ul class="navbar-nav justify-content-end w-100 align-items-center">
            <li class="nav-item mr-2">
                <a (click)="dashboardsidenav.toggle()" class="nav-link hidden-md-down align-middle" id="slide-nav">
                    <span class="navbar-toggler-icon"></span>
                </a>
            </li>
        </ul>
    </div>
</nav>

<mat-sidenav-container>
    <mat-sidenav #dashboardsidenav align="end" mode="side">
        <app-dash-board-sidebar></app-dash-board-sidebar>
    </mat-sidenav>

    <div class="container-fluid bg-custom mb-3">
        <router-outlet></router-outlet>
    </div>
</mat-sidenav-container>