<mat-card class="p-0">
  <div class="card-body d-flex justify-content-between align-items-center">
    <div class="card-title w-75 h3">{{diet?.diet.name | capitalize:1}}</div>
    <div class="w-25">
      <div class="d-flex align-items-center align-middle">
        <mat-icon>update</mat-icon>
        <span class="h6 mb-0 ml-2"> {{diet?.startDate | date}} </span>
      </div>
      <div class="d-flex align-items-center align-middle">
        <mat-icon>update</mat-icon>
        <span class="h6 mb-0 ml-2"> {{diet?.endDate | date}} </span>
      </div>
    </div>
  </div>
  <div class="card-body p-2 pb-0 mb-0 bg-primary text-white d-flex justify-content-around align-items-center">
    <div>230 kcal</div>
    <div>46 fat</div>
    <div>22 proteins</div>
  </div>
</mat-card>