<h2 mat-dialog-title class="text-center text-primary">Register</h2>
<div mat-dialog-content class="min-size py-2">
	<mat-horizontal-stepper [linear]="false" #stepper="matHorizontalStepper">
		<mat-step [stepControl]="accountForm">
			<form [formGroup]="accountForm" class="d-flex flex-column">
				<ng-template matStepLabel>Account</ng-template>
				<mat-form-field>
					<input matInput formControlName="username" id="username" placeholder="Username:">
					<mat-error control="form.controls.username">Campo obligatorio</mat-error>
				</mat-form-field>
				<mat-form-field>
					<input type="mail" matInput formControlName="email" id="email" placeholder="Email:">
					<mat-error control="form.controls.email">Campo obligatorio</mat-error>
				</mat-form-field>
				<mat-form-field>
					<input type="password" matInput formControlName="password" id="password" placeholder="Password:">
					<mat-error control="form.controls.password">Campo obligatorio</mat-error>
				</mat-form-field>
				<mat-form-field>
					<input matInput formControlName="name" id="name" placeholder="Name:">
					<mat-error control="form.controls.name">Campo obligatorio</mat-error>
				</mat-form-field>
				<mat-form-field>
					<input matInput formControlName="lastName" id="lastName" placeholder="Lastname:">
					<mat-error control="form.controls.lastName">Campo obligatorio</mat-error>
				</mat-form-field>
				<mat-form-field>
					<input matInput [min]="today" [max]="birthday" [matDatepicker]="birthday" formControlName="birthday" placeholder="Birthday:">
					<mat-datepicker-toggle matSuffix [for]="birthday"></mat-datepicker-toggle>
					<mat-datepicker #birthday touchUi="true"></mat-datepicker>
				</mat-form-field>
				<mat-form-field>
					<input matInput formControlName="phone" id="phone" placeholder="Phone:">
					<mat-error control="form.controls.phone">Campo obligatorio</mat-error>
				</mat-form-field>
				<mat-form-field>
					<input matInput formControlName="address" id="address" placeholder="Address:">
					<mat-error control="form.controls.address">Campo obligatorio</mat-error>
				</mat-form-field>
				<mat-form-field>
					<input type="number" step="0.01" matInput formControlName="weight" id="weight" placeholder="Weight:">
					<mat-error control="form.controls.weight">Campo obligatorio</mat-error>
				</mat-form-field>
				<mat-form-field>
					<input type="number" step="0.01" matInput formControlName="height" id="height" placeholder="Height:">
					<mat-error control="form.controls.height">Campo obligatorio</mat-error>
				</mat-form-field>
				<div class="d-flex justify-content-end align-items-center">
					<button mat-raised-button color="primary" matStepperNext>Next</button>
				</div>
			</form>
		</mat-step>
		<mat-step>
			<ng-template matStepLabel>Basic Data</ng-template>
			<app-poll-basic-data-form #basicForm></app-poll-basic-data-form>
			<div class="d-flex w-100 justify-content-end align-items-center">
				<button mat-raised-button color="secondary" matStepperPrevious>Back</button>
				<button mat-raised-button color="primary" matStepperNext>Next</button>
			</div>
		</mat-step>
		<mat-step>
			<ng-template matStepLabel>Clinic Data</ng-template>
			<app-poll-clinic-data-form #clinicForm></app-poll-clinic-data-form>
			<div class="d-flex justify-content-end align-items-center">
				<button mat-raised-button color="secondary" matStepperPrevious>Back</button>
				<button mat-raised-button color="primary" matStepperNext>Next</button>
			</div>
		</mat-step>
		<mat-step>
			<ng-template matStepLabel>Week Diet</ng-template>
			<app-poll-week-diet-form #weekForm></app-poll-week-diet-form>
			<div class="d-flex justify-content-end align-items-center">
				<button mat-raised-button color="secondary" matStepperPrevious>Back</button>
				<button mat-raised-button color="primary" matStepperNext>Next</button>
			</div>
		</mat-step>
		<mat-step>
			<ng-template matStepLabel>Weekend Diet</ng-template>
			<app-poll-week-end-diet-form #weekEndForm></app-poll-week-end-diet-form>
			<div class="d-flex justify-content-end align-items-center">
				<button mat-raised-button color="secondary" matStepperPrevious>Back</button>
				<button mat-raised-button color="primary" (click)="onSave()">Done</button>
			</div>
		</mat-step>
	</mat-horizontal-stepper>
</div>