<form [formGroup]="form" class="d-flex flex-column">
  <mat-form-field>
      <mat-select placeholder="Objetivo de la consulta" floatPlaceholder="never" formControlName="fitnessGoal">
          <mat-option *ngFor="let goal of fitnessGoals | enumKeys" [value]="goal.key">
              {{ goal.value }}
          </mat-option>
      </mat-select>
  </mat-form-field>

  <mat-form-field>
      <mat-select placeholder="Motivo del objetivo" floatPlaceholder="never" formControlName="fitnessReason">
          <mat-option *ngFor="let reason of fitnessReasons | enumKeys" [value]="reason.key">
              {{ reason.value }}
          </mat-option>
      </mat-select>
  </mat-form-field>

  <mat-checkbox formControlName="physicalActivity">¿Realiza alguna actividad física?</mat-checkbox>
  <mat-form-field *ngIf="form.controls.physicalActivity.value">
      <input matInput formControlName="physicalActivityDescription" id="physicalActivityDescription" placeholder="Actividad(es):">
      <mat-error control="form.controls.physicalActivityDescription">Campo obligatorio</mat-error>
  </mat-form-field>

  <mat-form-field>
      <mat-select placeholder="Numero de comidas a lo largo del dia:" floatPlaceholder="never" formControlName="foodNumber">
          <mat-option *ngFor="let amount of foodAmount | enumKeys" [value]="amount.key">
              {{ amount.value }}
          </mat-option>
      </mat-select>
  </mat-form-field>

  <mat-checkbox formControlName="workInfo">¿Trabaja?</mat-checkbox>
  <mat-form-field *ngIf="form.controls.workInfo.value">
      <input matInput formControlName="workInfoDescription" id="workInfoDescription" placeholder="Indique el tipo de trabajo, horario y disponibilidad:">
      <mat-error control="form.controls.workInfoDescription">Campo obligatorio</mat-error>
  </mat-form-field>

  <mat-form-field>
      <mat-select placeholder="Estado civil" floatPlaceholder="never" formControlName="civilStatus">
          <mat-option *ngFor="let status of civilStatuss | enumKeys" [value]="status.key">
              {{ status.value }}
          </mat-option>
      </mat-select>
  </mat-form-field>

  <mat-checkbox formControlName="familyInfo">¿Tienes Hijos?</mat-checkbox>

  <mat-checkbox formControlName="homeInfo">¿Vives Solo?</mat-checkbox>

  <mat-form-field>
      <mat-select placeholder="¿Para cuantas personas cocina?" floatPlaceholder="never" formControlName="cookingInfo">
          <mat-option *ngFor="let amount of chefAmount | enumKeys" [value]="amount.key">
              {{ amount.value }}
          </mat-option>
      </mat-select>
  </mat-form-field>

  <mat-form-field>
      <!-- -5, 5-7, 7, +7 -->
      <mat-select placeholder="¿Cuantas horas duermes entre semana?" floatPlaceholder="never" formControlName="sleepWorkingInfo">
          <mat-option *ngFor="let sleep of sleepHours | enumKeys" [value]="sleep.key">
              {{ sleep.value }}
          </mat-option>
      </mat-select>
  </mat-form-field>

  <mat-form-field>
      <!-- -5, 5-7, 7, +7 -->
      <mat-select placeholder="¿Cuantas horas duermes el fin de semana?" floatPlaceholder="never" formControlName="sleepWeekendInfo">
          <mat-option *ngFor="let sleep of sleepHours | enumKeys" [value]="sleep.key">
              {{ sleep.value }}
          </mat-option>
      </mat-select>
  </mat-form-field>
</form>