<mat-card>
    <mat-card-header>
      <img mat-card-avatar src="assets/img/logoNutricynn.png" width="120rem">
      <mat-card-title>{{user?.username}}</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <mat-grid-list cols="2" rowHeight="fit">
        <mat-grid-tile>
          <mat-list>
            <mat-list-item> {{user?.name}} {{user?.lastName}} </mat-list-item>
            <mat-list-item> {{user?.email}} </mat-list-item>
            <mat-list-item> {{user?.birthday}} </mat-list-item>
          </mat-list>
        </mat-grid-tile>
        <mat-grid-tile>
          <mat-list>
            <mat-list-item> {{user?.phone}} </mat-list-item>
            <mat-list-item> {{user?.address}} </mat-list-item>
          </mat-list>
        </mat-grid-tile>
      </mat-grid-list>
    </mat-card-content>
  </mat-card>