<div class="row bg-light mt-2">
  <section class="col-lg-12 d-none d-lg-block">
    <app-diet-full></app-diet-full>
  </section>
</div>
<div class="row bg-light">
  <section class="col-lg-8 mt-2">
    <app-weight-graph></app-weight-graph>
  </section>
  <section class="col-lg-4 col-md-6 mt-2">
    <app-macros-graph></app-macros-graph>
    <app-shopping-list></app-shopping-list>
  </section>
  <section class="col-lg-4 col-md-6 d-lg-none mt-2">
    <app-diet-daily></app-diet-daily>
  </section>
</div>