.card-body{
  overflow-y: auto;
  max-height: 30rem;
}

.items {
  display: flex;
  flex-direction: column;
  padding: 1rem;
  counter-reset: done-items undone-items;
}
.done {
  margin-top: 1rem;
  order: 3;
  border-bottom: 0.2rem #222d45 solid;
}
.done::after {
  content: ' (' counter(done-items) ')';
}
.undone {
  order: 1;
  border-bottom: 0.2rem #222d45 solid;
}
.undone::after {
  content: ' (' counter(undone-items) ')';
}
input {
  display: block;
  height: 53px;
  margin: 0 0 -53px -9999px;
  order: 2;
  outline: none;
  counter-increment: undone-items;
}
input:checked {
  order: 4;
  counter-increment: done-items;  
}
label {
  display: block;
  position: relative;
  padding: 1rem 0rem 0rem 3rem;
  order: 4;
  cursor: pointer;
  animation: undone .5s;
}
label::before {
  content: '\f10c'; /* circle outline */
  display: block;
  position: absolute;
  top: 1rem;
  left: 1rem;
  font: 1.5rem 'FontAwesome';
}
label:hover, input:focus + label {
  background-color: rgba(255, 255, 255, .2);
}
input:checked + label {
  order: 4;
  animation: done .5s;
}
input + label {
  order: 2;
  animation: undone .5s;
}
input:checked + label::before {
  content: '\f058'; /* circle checkmark */
}
@keyframes done {
  0% {
    opacity: 0;
    background-color: rgba(255, 255, 255, .4);
    transform: translateY(20px);
  }
  50% {
    opacity: 1;
    background-color: rgba(255, 255, 255, .4);
  }
}
@keyframes undone {
  0% {
    opacity: 0;
    background-color: rgba(255, 255, 255, .4);
    transform: translateY(-20px);
  }
  50% {
    opacity: 1;
    background-color: rgba(255, 255, 255, .4);
  }
}