<div class="card shadow-animated mt-2">
  <div class="card-header bg-secondary text-white">
      <h4 class="h4 card-title">Shopping List</h4>
  </div>
  <div class="card-body">
    <div class="items">
      <input id="item1" type="checkbox" checked>
      <label for="item1">Create a to-do list</label>

      <input id="item2" type="checkbox">
      <label for="item2">Take down Christmas tree</label>

      <input id="item3" type="checkbox">
      <label for="item3">Learn Ember.js</label>

      <input id="item4" type="checkbox">
      <label for="item4">Binge watch every episode of MacGyver</label>

      <input id="item5" type="checkbox">
      <label for="item5">Alphabetize everything in the fridge</label>

      <input id="item6" type="checkbox">
      <label for="item6">Do 10 pull-ups without dropping</label>

      <h4 class="undone" aria-hidden="true">To Shop</h4>
      <h4 class="done" aria-hidden="true">In Basket</h4>
    </div>
  </div>