time {
    display: inline-block;
    width: 100%;
    color: rgb(255, 255, 255);
    padding: 5px;
    text-align: center;
    text-transform: uppercase;
}
time > span {
   display: none;
}
time > .day {
    display: block;
    font-size: 40pt;
    font-weight: 100;
    line-height: 1;
}
time > .month {
    display: block;
    font-size: 24pt;
    font-weight: 900;
    line-height: 1;
}
.card-title{
    font-size: 15pt;
}
.bg-custom-1{
    background-color: #00733e;
  }