<div class="container-fluid">
  <mat-card class="w-100">
    <mat-card-title-group>
      <div mat-card-md-image class="ml-2">
        <time class="bg-custom-1 h-100 w-100">
          <span class="day">3</span>
          <span class="month">Jun</span>
          <span class="year">2014</span>
          <span class="time">ALL DAY</span>
        </time>
      </div>
      <mat-card-title>Jose & Ana Wedding</mat-card-title>
      <mat-card-subtitle>Subtitle</mat-card-subtitle>
    </mat-card-title-group>
  </mat-card>
  <mat-card class="mt-2 w-100">
    <mat-card-title-group>
      <div mat-card-md-image class="ml-2">
        <time class="bg-custom-1 h-100 w-100">
          <span class="day">24</span>
          <span class="month">Jun</span>
          <span class="year">2014</span>
          <span class="time">ALL DAY</span>
        </time>
      </div>
      <mat-card-title>San Juan Aniversary</mat-card-title>
      <mat-card-subtitle>Marmarella</mat-card-subtitle>
    </mat-card-title-group>
  </mat-card>
</div>