<div class="container-fluid card">
    <div class="container my-5">
        <div class="row text-center">
            <div class="col-md-4">
                <div class="btn-group">
                    <div class="btn btn-custom btn-gradient" mwlCalendarPreviousView [view]="view" [(viewDate)]="viewDate">
                        Previous
                    </div>
                    <div class="btn btn-custom bg-primary" mwlCalendarToday [(viewDate)]="viewDate">
                        Today
                    </div>
                    <div class="btn btn-custom btn-gradient" mwlCalendarNextView [view]="view" [(viewDate)]="viewDate">
                        Next
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <h3>{{ viewDate | calendarDate:(view + 'ViewTitle'):'en' }}</h3>
            </div>
            <div class="col-md-4">
                <div class="btn-group">
                    <div class="btn btn-custom btn-gradient" (click)="view = 'month'" [class.active]="view === 'month'">
                        Month
                    </div>
                    <div class="btn btn-custom btn-gradient" (click)="view = 'week'" [class.active]="view === 'week'">
                        Week
                    </div>
                    <div class="btn btn-custom btn-gradient" (click)="view = 'day'" [class.active]="view === 'day'">
                        Day
                    </div>
                </div>
            </div>
        </div>
        <div class="mt-2" [ngSwitch]="view">
        <mwl-calendar-month-view *ngSwitchCase="'month'" [weekStartsOn]="1" [viewDate]="viewDate" [events]="events" [refresh]="refresh" [activeDayIsOpen]="activeDayIsOpen"
            (dayClicked)="dayClicked($event.day)" (eventClicked)="handleEvent('Clicked', $event.event)" (eventTimesChanged)="eventTimesChanged($event)">
        </mwl-calendar-month-view>
        <mwl-calendar-week-view
            *ngSwitchCase="'week'"
            [viewDate]="viewDate"
            [events]="events"
            [refresh]="refresh"
            (eventClicked)="handleEvent('Clicked', $event.event)"
            (eventTimesChanged)="eventTimesChanged($event)">
        </mwl-calendar-week-view>
        <mwl-calendar-day-view
            *ngSwitchCase="'day'"
            [viewDate]="viewDate"
            [events]="events"
            [refresh]="refresh"
            (eventClicked)="handleEvent('Clicked', $event.event)"
            (eventTimesChanged)="eventTimesChanged($event)">
        </mwl-calendar-day-view>
        </div>
    </div>
</div>