pre {
  background-color: #f5f5f5;
  padding: 15px;
}
.cal-day-number{
  color: #222d32;
}
.cal-month-view.cal-day-cell.cal-today{
  background-color: #00733e;
}
.cal-open-day-events{
  background-color: #222d32 !important;
}