<ul class="list-group list-group-flush">
  <li *ngFor="let nutrient of food.nutrients" class="list-group-item d-flex justify-content-between">
    {{ nutrient.nutrient.name }}
    <span class="badge badge-default bg-secondary">{{ nutrient.quantity }} {{ nutrient.unit.name }}</span>
  </li>
</ul>