<h1 mat-dialog-title>
  <ng-template [ngIf]="data?.id" [ngIfElse]="create">
    Edit {{ title }}
  </ng-template>
  <ng-template #create>
    Create {{ title }}
  </ng-template>
</h1>
<div mat-dialog-content class="min-size py-2">
  <mat-tab-group class="w-100">
    <mat-tab label="Profile">
      <app-user-profile-tab [model]="data"></app-user-profile-tab>
    </mat-tab>
    <mat-tab label="Polls">
      <app-user-polls-tab [model]="data"></app-user-polls-tab>
    </mat-tab>
    <mat-tab label="Diets">
      <app-user-diet-history-tab [model]="diets$ | async"></app-user-diet-history-tab>
    </mat-tab>
    <mat-tab label="Events">
      <!--<app-user-page-polls [model]="model?.userPolls"></app-user-page-polls>-->
    </mat-tab>
  </mat-tab-group>
</div>
<div class="modal-footer" mat-dialog-actions>
  <button (click)="onSubmit()" mat-raised-button color="primary">Save</button>
  <button [mat-dialog-close]="" mat-raised-button color="secondary">Discard</button>
</div>