<div class="container-fluid mt-3">
  <div class="card-header bg-primary d-flex align-items-center justify-content-between">
    <h4 class="mb-0 text-white">{{ title | async }}</h4>
    <button type="button" class="close" aria-label="Close">
      <i class="fa fa-home" aria-hidden="true" [routerLink]="['./']"></i>
    </button>
  </div>
  <div class="card-body">
    <router-outlet></router-outlet>
  </div>
</div>