.user-page-index{
    min-height: 80vh;
}
.navbar-custom {
    background-color: transparent;
	font-weight:700;
    border-width:0;
}
.nav>li>a {
	color: #ddd;
}
.nav li>a:hover, .nav li .open, .nav .active a  {
	color: #222d32;
}
.nav .nav-item.show .nav-link, .nav .nav-link.active {
  	background-color: #222d32;
}
.nav>li>a.active:hover {
	color: #ddd;
}