<div class="container-fluid mt-3">
    <div class="container navbar-custom w-100">
        <ul class="nav nav-pills bg-primary nav-justified">
            <li class="nav-item">
                <a class="nav-link" data-toggle="tab" href="#profile" role="tab">
                    <i class="fa fa-user mr-2" aria-hidden="true"></i>
                    <p class="d-none d-lg-inline">Profile</p>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" data-toggle="tab" href="#history" role="tab">
                    <i class="fa fa-history mr-2" aria-hidden="true"></i>
                    <p class="d-none d-lg-inline">Diet History</p>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" data-toggle="tab" href="#questionaries" role="tab">
                    <i class="fa fa-question-circle mr-2" aria-hidden="true"></i>
                    <p class="d-none d-lg-inline">Questionaries</p>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" data-toggle="tab" href="#messages" role="tab">
                    <i class="fa fa-envelope mr-2" aria-hidden="true"></i>
                    <p class="d-none d-lg-inline">Messages</p>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" data-toggle="tab" href="#events" role="tab">
                    <i class="fa fa-calendar mr-2" aria-hidden="true"></i>
                    <p class="d-none d-lg-inline">Events</p>
                </a>
            </li>
        </ul>
    </div>
    <div class="container-fluid mt-4 user-page-index">
        <div class="tab-content">
            <div class="tab-pane" id="profile" role="tabpanel">
                <app-user-page-profile [user]="user"></app-user-page-profile>
            </div>
            <div class="tab-pane" id="history" role="tabpanel">
                <app-user-page-history [userName]="user?.username"></app-user-page-history>
            </div>
            <div class="tab-pane" id="questionaries" role="tabpanel">
                <app-user-page-polls [userPolls]="user?.userPolls"></app-user-page-polls>
            </div>
            <div class="tab-pane" id="messages" role="tabpanel">

            </div>
            <div class="tab-pane active" id="events" role="tabpanel">
                <app-user-page-schedule></app-user-page-schedule>
            </div>
        </div>
    </div>
</div>