.mb-0 > a{
	color: #ddd;
	text-decoration: none;
}
.swiper-container {
    width: 100%;
    height: 100%;
}
.swiper-slide {
    text-align: center;
    font-size: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 3rem;
}
[aria-expanded="false"] i:before{
	content: "\f067";
}
[aria-expanded="true"] i:before{   
  	content: "\f068";
}