<div class="card shadow-animated">
    <div class="card-header bg-secondary text-white">
        <h4 class="card-title">Full Diet</h4>
    </div>
    <div class="card-body">
        <div class="container navbar-custom">
            <ul class="nav nav-pills bg-primary nav-justified">
                <li class="nav-item">
                    <a class="nav-link active" data-toggle="tab" href="#monday" role="tab">Monday</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" data-toggle="tab" href="#tuesday" role="tab">Tuesday</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" data-toggle="tab" href="#wendsday" role="tab">Wendsday</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" data-toggle="tab" href="#thursday" role="tab">Thursday</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" data-toggle="tab" href="#friday" role="tab">Friday</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" data-toggle="tab" href="#saturday" role="tab">Saturday</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" data-toggle="tab" href="#sunday" role="tab">Sunday</a>
                </li>
            </ul>
        </div>
        <!-- Tabs -->
        <div class="tab-content">
            <div class="tab-pane active" id="monday" role="tabpanel">
                <div class="container-fluid mt-5">
                    <div [swiper]="SWIPER_CONFIG" class="swiper-container">
                        <div class="swiper-wrapper">
                            <div class="swiper-slide">
                                <div class="card shadow-animated">
                                    <img class="card-img img-fluid" src="assets/img/breakfast.jpeg" alt="Card image cap">
                                    <div class="card-img-overlay text-white text-right">
                                        <h4 class="card-title">Card Breakfast</h4>
                                        <small class="card-text">7-8 AM</small>
                                    </div>
                                    <div class="card-body">
                                        <div id="df-accordion-breakfast" role="tablist" aria-multiselectable="true">
                                            <div class="card">
                                                <div class="card-header bg-primary" role="tab" id="breakfast">
                                                    <h5 class="mb-0">
                                                        <a class="collapsed" data-toggle="collapse" data-parent="#df-accordion-breakfast" href="#df-monday-breakfast-1" aria-expanded="false"
                                                            aria-controls="df-monday-breakfast-1">
                                                            Cafe
                                                            <i class="fa pull-right" aria-hidden="true"></i>
                                                        </a>
                                                    </h5>
                                                </div>
                                                <div id="df-monday-breakfast-1" class="collapse" role="tabpanel" aria-labelledby="df-breakfast">
                                                    <ul class="list-group list-group-flush">
                                                        <li class="list-group-item d-flex justify-content-between">Cafe
                                                            <span class="badge badge-secondary">60ml</span>
                                                        </li>
                                                        <li class="list-group-item d-flex justify-content-between">Leche Desnatada
                                                            <span class="badge badge-secondary">80ml</span>
                                                        </li>
                                                        <li class="list-group-item d-flex justify-content-between">Sacarina
                                                            <span class="badge badge-secondary">2 uds</span>
                                                        </li>
                                                    </ul>
                                                </div>
                                            </div>
                                            <div class="card">
                                                <div class="card-header bg-primary" role="tab" id="breakfast">
                                                    <h5 class="mb-0">
                                                        <a class="collapsed" data-toggle="collapse" data-parent="#df-accordion-breakfast" href="#df-monday-breakfast-2" aria-expanded="false"
                                                            aria-controls="df-monday-breakfast-2">
                                                            Manzana
                                                            <i class="fa pull-right" aria-hidden="true"></i>
                                                        </a>
                                                    </h5>
                                                </div>
                                                <div id="df-monday-breakfast-2" class="collapse" role="tabpanel" aria-labelledby="df-breakfast">
                                                    <div class="card-body">
                                                        1 Manzana roja de tamaño medio
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="card">
                                                <div class="card-header bg-primary" role="tab" id="breakfast">
                                                    <h5 class="mb-0">
                                                        <a class="collapsed" data-toggle="collapse" data-parent="#df-accordion-breakfast" href="#df-monday-breakfast-3" aria-expanded="false"
                                                            aria-controls="df-monday-breakfast-3">
                                                            Pan con Queso
                                                            <i class="fa pull-right" aria-hidden="true"></i>
                                                        </a>
                                                    </h5>
                                                </div>
                                                <div id="df-monday-breakfast-3" class="collapse" role="tabpanel" aria-labelledby="df-breakfast">
                                                    <div class="card-body">
                                                        Dos rebanadas de pan con queso y una cucharada de aceite de oliva
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="swiper-slide">
                                <div class="card shadow-animated">
                                    <img class="card-img img-fluid" src="assets/img/brunch.jpeg" alt="Card image cap">
                                    <div class="card-img-overlay text-white text-right">
                                        <h4 class="card-title">Card Brunch</h4>
                                        <p class="card-text">7-8 AM</p>
                                    </div>
                                    <div class="card-body">
                                        <div id="df-accordion-brunch" role="tablist" aria-multiselectable="true">
                                            <div class="card">
                                                <div class="card-header bg-primary" role="tab" id="brunch">
                                                    <h5 class="mb-0">
                                                        <a data-toggle="collapse" data-parent="#df-accordion-brunch" href="#df-monday-brunch-1" aria-expanded="false" aria-controls="df-monday-brunch-1">
                                                            Cafe
                                                            <i class="fa pull-right" aria-hidden="true"></i>
                                                        </a>
                                                    </h5>
                                                </div>
                                                <div id="df-monday-brunch-1" class="collapse" role="tabpanel" aria-labelledby="df-brunch">
                                                    <div class="card-body">
                                                        Un cafe con leche y sacarina
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="card">
                                                <div class="card-header bg-primary" role="tab" id="brunch">
                                                    <h5 class="mb-0">
                                                        <a class="collapsed" data-toggle="collapse" data-parent="#df-accordion-brunch" href="#df-monday-brunch-2" aria-expanded="false"
                                                            aria-controls="df-monday-brunch-2">
                                                            Manzana
                                                            <i class="fa pull-right" aria-hidden="true"></i>
                                                        </a>
                                                    </h5>
                                                </div>
                                                <div id="df-monday-brunch-2" class="collapse" role="tabpanel" aria-labelledby="df-brunch">
                                                    <div class="card-body">
                                                        1 Manzana roja de tamaño medio
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="card">
                                                <div class="card-header bg-primary" role="tab" id="brunch">
                                                    <h5 class="mb-0">
                                                        <a class="collapsed" data-toggle="collapse" data-parent="#df-accordion-brunch" href="#df-monday-brunch-3" aria-expanded="false"
                                                            aria-controls="df-monday-brunch-3">
                                                            Pan con Queso
                                                            <i class="fa pull-right" aria-hidden="true"></i>
                                                        </a>
                                                    </h5>
                                                </div>
                                                <div id="df-monday-brunch-3" class="collapse" role="tabpanel" aria-labelledby="df-brunch">
                                                    <div class="card-body">
                                                        Dos rebanadas de pan con queso y una cucharada de aceite de oliva
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="swiper-slide">
                                <div class="card shadow-animated">
                                    <img class="card-img img-fluid" src="assets/img/lunch.jpeg" alt="Card image cap">
                                    <div class="card-img-overlay text-white text-right">
                                        <h4 class="card-title">Card Lunch</h4>
                                        <p class="card-text">7-8 AM</p>
                                    </div>
                                    <div class="card-body">
                                        <div id="df-accordion-lunch" role="tablist" aria-multiselectable="true">
                                            <div class="card">
                                                <div class="card-header bg-primary" role="tab" id="lunch">
                                                    <h5 class="mb-0">
                                                        <a data-toggle="collapse" data-parent="#df-accordion-lunch" href="#df-monday-lunch-1" aria-expanded="false" aria-controls="df-monday-lunch-1">
                                                            Cafe
                                                            <i class="fa pull-right" aria-hidden="true"></i>
                                                        </a>
                                                    </h5>
                                                </div>
                                                <div id="df-monday-lunch-1" class="collapse" role="tabpanel" aria-labelledby="df-lunch">
                                                    <div class="card-body">
                                                        Un cafe con leche y sacarina
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="card">
                                                <div class="card-header bg-primary" role="tab" id="lunch">
                                                    <h5 class="mb-0">
                                                        <a class="collapsed" data-toggle="collapse" data-parent="#df-accordion-lunch" href="#df-monday-lunch-2" aria-expanded="false"
                                                            aria-controls="df-monday-lunch-2">
                                                            Manzana
                                                            <i class="fa pull-right" aria-hidden="true"></i>
                                                        </a>
                                                    </h5>
                                                </div>
                                                <div id="df-monday-lunch-2" class="collapse" role="tabpanel" aria-labelledby="df-lunch">
                                                    <div class="card-body">
                                                        1 Manzana roja de tamaño medio
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="card">
                                                <div class="card-header bg-primary" role="tab" id="lunch">
                                                    <h5 class="mb-0">
                                                        <a class="collapsed" data-toggle="collapse" data-parent="#df-accordion-lunch" href="#df-monday-lunch-3" aria-expanded="false"
                                                            aria-controls="df-monday-lunch-3">
                                                            Pan con Queso
                                                            <i class="fa pull-right" aria-hidden="true"></i>
                                                        </a>
                                                    </h5>
                                                </div>
                                                <div id="df-monday-lunch-3" class="collapse" role="tabpanel" aria-labelledby="df-lunch">
                                                    <div class="card-body">
                                                        Dos rebanadas de pan con queso y una cucharada de aceite de oliva
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="swiper-slide">
                                <div class="card shadow-animated">
                                    <img class="card-img img-fluid" src="assets/img/snack.jpeg" alt="Card image cap">
                                    <div class="card-img-overlay text-white text-right">
                                        <h4 class="card-title">Card Snack</h4>
                                        <p class="card-text">7-8 AM</p>
                                    </div>
                                    <div class="card-body">
                                        <div id="df-accordion-snack" role="tablist" aria-multiselectable="true">
                                            <div class="card">
                                                <div class="card-header bg-primary" role="tab" id="snack">
                                                    <h5 class="mb-0">
                                                        <a data-toggle="collapse" data-parent="#df-accordion-snack" href="#df-monday-snack-1" aria-expanded="false" aria-controls="df-monday-snack-1">
                                                            Cafe
                                                            <i class="fa pull-right" aria-hidden="true"></i>
                                                        </a>
                                                    </h5>
                                                </div>
                                                <div id="df-monday-snack-1" class="collapse" role="tabpanel" aria-labelledby="df-snack">
                                                    <div class="card-body">
                                                        Un cafe con leche y sacarina
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="card">
                                                <div class="card-header bg-primary" role="tab" id="snack">
                                                    <h5 class="mb-0">
                                                        <a class="collapsed" data-toggle="collapse" data-parent="#df-accordion-snack" href="#df-monday-snack-2" aria-expanded="false"
                                                            aria-controls="df-monday-snack-2">
                                                            Manzana
                                                            <i class="fa pull-right" aria-hidden="true"></i>
                                                        </a>
                                                    </h5>
                                                </div>
                                                <div id="df-monday-snack-2" class="collapse" role="tabpanel" aria-labelledby="df-snack">
                                                    <div class="card-body">
                                                        1 Manzana roja de tamaño medio
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="card">
                                                <div class="card-header bg-primary" role="tab" id="snack">
                                                    <h5 class="mb-0">
                                                        <a class="collapsed" data-toggle="collapse" data-parent="#df-accordion-snack" href="#df-monday-snack-3" aria-expanded="false"
                                                            aria-controls="df-monday-snack-3">
                                                            Pan con Queso
                                                            <i class="fa pull-right" aria-hidden="true"></i>
                                                        </a>
                                                    </h5>
                                                </div>
                                                <div id="df-monday-snack-3" class="collapse" role="tabpanel" aria-labelledby="df-snack">
                                                    <div class="card-body">
                                                        Dos rebanadas de pan con queso y una cucharada de aceite de oliva
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="swiper-slide">
                                <div class="card shadow-animated">
                                    <img class="card-img img-fluid" src="assets/img/dinner.jpeg" alt="Card image cap">
                                    <div class="card-img-overlay text-white text-right">
                                        <h4 class="card-title">Card Dinner</h4>
                                        <p class="card-text">7-8 AM</p>
                                    </div>
                                    <div class="card-body">
                                        <div id="df-accordion-dinner" role="tablist" aria-multiselectable="true">
                                            <div class="card">
                                                <div class="card-header bg-primary" role="tab" id="dinner">
                                                    <h5 class="mb-0">
                                                        <a data-toggle="collapse" data-parent="#df-accordion-dinner" href="#df-monday-dinner-1" aria-expanded="false" aria-controls="df-monday-dinner-1">
                                                            Cafe
                                                            <i class="fa pull-right" aria-hidden="true"></i>
                                                        </a>
                                                    </h5>
                                                </div>
                                                <div id="df-monday-dinner-1" class="collapse" role="tabpanel" aria-labelledby="df-dinner">
                                                    <div class="card-body">
                                                        Un cafe con leche y sacarina
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="card">
                                                <div class="card-header bg-primary" role="tab" id="dinner">
                                                    <h5 class="mb-0">
                                                        <a class="collapsed" data-toggle="collapse" data-parent="#df-accordion-dinner" href="#df-monday-dinner-2" aria-expanded="false"
                                                            aria-controls="df-monday-dinner-2">
                                                            Manzana
                                                            <i class="fa pull-right" aria-hidden="true"></i>
                                                        </a>
                                                    </h5>
                                                </div>
                                                <div id="df-monday-dinner-2" class="collapse" role="tabpanel" aria-labelledby="df-dinner">
                                                    <div class="card-body">
                                                        1 Manzana roja de tamaño medio
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="card">
                                                <div class="card-header bg-primary" role="tab" id="dinner">
                                                    <h5 class="mb-0">
                                                        <a class="collapsed" data-toggle="collapse" data-parent="#df-accordion-dinner" href="#df-monday-dinner-3" aria-expanded="false"
                                                            aria-controls="df-monday-dinner-3">
                                                            Pan con Queso
                                                            <i class="fa pull-right" aria-hidden="true"></i>
                                                        </a>
                                                    </h5>
                                                </div>
                                                <div id="df-monday-dinner-3" class="collapse" role="tabpanel" aria-labelledby="df-dinner">
                                                    <div class="card-body">
                                                        Dos rebanadas de pan con queso y una cucharada de aceite de oliva
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="swiper-slide">
                                <div class="card shadow-animated">
                                    <img class="card-img img-fluid" src="assets/img/bed.jpeg" alt="Card image cap">
                                    <div class="card-img-overlay text-white text-right">
                                        <h4 class="card-title">Card Bed</h4>
                                        <p class="card-text">7-8 AM</p>
                                    </div>
                                    <div class="card-body">
                                        <div id="df-accordion-bed" role="tablist" aria-multiselectable="true">
                                            <div class="card">
                                                <div class="card-header bg-primary" role="tab" id="bed">
                                                    <h5 class="mb-0">
                                                        <a data-toggle="collapse" data-parent="#df-accordion-bed" href="#df-monday-bed-1" aria-expanded="false" aria-controls="df-monday-bed-1">
                                                            Cafe
                                                            <i class="fa pull-right" aria-hidden="true"></i>
                                                        </a>
                                                    </h5>
                                                </div>
                                                <div id="df-monday-bed-1" class="collapse" role="tabpanel" aria-labelledby="df-bed">
                                                    <div class="card-body">
                                                        Un cafe con leche y sacarina
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="card">
                                                <div class="card-header bg-primary" role="tab" id="bed">
                                                    <h5 class="mb-0">
                                                        <a class="collapsed" data-toggle="collapse" data-parent="#df-accordion-bed" href="#df-monday-bed-2" aria-expanded="false"
                                                            aria-controls="df-monday-bed-2">
                                                            Manzana
                                                            <i class="fa pull-right" aria-hidden="true"></i>
                                                        </a>
                                                    </h5>
                                                </div>
                                                <div id="df-monday-bed-2" class="collapse" role="tabpanel" aria-labelledby="df-bed">
                                                    <div class="card-body">
                                                        1 Manzana roja de tamaño medio
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="card">
                                                <div class="card-header bg-primary" role="tab" id="bed">
                                                    <h5 class="mb-0">
                                                        <a class="collapsed" data-toggle="collapse" data-parent="#df-accordion-bed" href="#df-monday-bed-3" aria-expanded="false"
                                                            aria-controls="df-monday-bed-3">
                                                            Pan con Queso
                                                            <i class="fa pull-right" aria-hidden="true"></i>
                                                        </a>
                                                    </h5>
                                                </div>
                                                <div id="df-monday-bed-3" class="collapse" role="tabpanel" aria-labelledby="df-bed">
                                                    <div class="card-body">
                                                        Dos rebanadas de pan con queso y una cucharada de aceite de oliva
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="swiper-pagination"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>