<div class="container-fluid">
  <div class="row d-flex flex-wrap justify-content-around">
    <div class="col-lg-4 col-md-6 col-xs-12">
      <mat-card>
        <img mat-card-image src="assets/img/example-work07.jpg">
        <mat-card-content>
          <h2>Sunt nulla</h2>
          <p>
            The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan. A small, agile dog that copes
            very well with mountainous terrain, the Shiba Inu was originally bred for hunting.
          </p>
        </mat-card-content>
        <mat-card-actions>
          <button mat-raised-button color="accent">LIKE</button>
          <button mat-button>SHARE</button>
        </mat-card-actions>
      </mat-card>
    </div>
    <div class="col-lg-4 col-md-6 col-xs-12">
      <div class="card mx-2 mt-2">
        <img class="card-img-top" src="assets/img/example-work07.jpg" alt="">
        <div class="card-block">
          <h2 class="card-title">Sunt nulla</h2>
          <p class="card-text">
            Enim labore aliqua consequat ut quis ad occaecat aliquip incididunt. Sunt nulla eu enim irure enim nostrud aliqua consectetur
            ad consectetur sunt ullamco officia. Ex officia laborum et consequat duis.
          </p>
        </div>
        <div class="card-block bg-custom">
          <button class="pull-right btn btn-custom btn-bg-custom text-white">Read more</button>
        </div>
      </div>
    </div>
    <div class="col-lg-4 col-md-6 col-xs-12">
      <div class="card mx-2 mt-2">
        <img class="card-img-top" src="assets/img/example-work01.jpg" alt="">
        <div class="card-block">
          <h2 class="card-title">Blog template</h2>
          <p class="card-text">
            Enim labore aliqua consequat ut quis ad occaecat aliquip incididunt. Sunt nulla eu enim irure enim nostrud aliqua consectetur
            ad consectetur sunt ullamco officia. Ex officia laborum et consequat duis.
          </p>
        </div>
        <div class="card-block bg-custom">
          <button class="pull-right btn btn-custom btn-bg-custom text-white">Read more</button>
        </div>
      </div>
    </div>
    <div class="col-lg-4 col-md-6 col-xs-12">
      <div class="card mx-2 mt-2">
        <img class="card-img-top" src="assets/img/example-work01.jpg" alt="">
        <div class="card-block">
          <h2 class="card-title">Blog template</h2>
          <p class="card-text">
            Enim labore aliqua consequat ut quis ad occaecat aliquip incididunt. Sunt nulla eu enim irure enim nostrud aliqua consectetur
            ad consectetur sunt ullamco officia. Ex officia laborum et consequat duis.
          </p>
        </div>
        <div class="card-block bg-custom">
          <button class="pull-right btn btn-custom btn-bg-custom text-white">Read more</button>
        </div>
      </div>
    </div>
    <div class="col-lg-4 col-md-6 col-xs-12">
      <div class="card mx-2 mt-2">
        <img class="card-img-top" src="assets/img/example-work07.jpg" alt="">
        <div class="card-block">
          <h2 class="card-title">Sunt nulla</h2>
          <p class="card-text">
            Enim labore aliqua consequat ut quis ad occaecat aliquip incididunt. Sunt nulla eu enim irure enim nostrud aliqua consectetur
            ad consectetur sunt ullamco officia. Ex officia laborum et consequat duis.
          </p>
        </div>
        <div class="card-block bg-custom">
          <button class="pull-right btn btn-custom btn-bg-custom text-white">Read more</button>
        </div>
      </div>
    </div>
    <div class="col-lg-4 col-md-6 col-xs-12">
      <div class="card mx-2 mt-2">
        <img class="card-img-top" src="assets/img/example-work01.jpg" alt="">
        <div class="card-block">
          <h2 class="card-title">Blog template</h2>
          <p class="card-text">
            Enim labore aliqua consequat ut quis ad occaecat aliquip incididunt. Sunt nulla eu enim irure enim nostrud aliqua consectetur
            ad consectetur sunt ullamco officia. Ex officia laborum et consequat duis.
          </p>
        </div>
        <div class="card-block bg-custom">
          <button class="pull-right btn btn-custom btn-bg-custom text-white">Read more</button>
        </div>
      </div>
    </div>
  </div>
</div>