<h1 mat-dialog-title>Datos Basicos</h1>
<div mat-dialog-content class="min-size py-2">
    <app-poll-basic-data-form #form [model]="poll"></app-poll-basic-data-form>
</div>
<div class="modal-footer" mat-dialog-actions>
    <button (click)="onSubmit()" mat-raised-button color="primary">Save</button>
    <button (click)="onCancel()" mat-raised-button color="secondary">Discard</button>
</div>