<div class="container">
    <div class="card shadow-1">
        <div class="row d-flex justify-content-around my-5">
            <!-- Basic Data Card  -->
            <div class="col-6 px-5">
                <app-poll-basic-data-panel [poll]="userPolls?.pollBasicData"></app-poll-basic-data-panel>
            </div>
            <!-- Clinical Data Card -->
            <div class="col-6 px-5">
                <app-poll-clinic-data-panel [poll]="userPolls?.pollClinicData"></app-poll-clinic-data-panel>
            </div>
            <!-- Working Day Card  -->
            <div class="col-6 mt-4 px-5">
                <app-poll-week-diet-panel [poll]="userPolls?.pollWeekDiet"></app-poll-week-diet-panel>
            </div>
            <!-- Weekend Day Card  -->
            <div class="col-6 mt-4 px-5">
                <app-poll-week-end-diet-panel [poll]="userPolls?.pollWeekEndDiet"></app-poll-week-end-diet-panel>
            </div>
        </div>
    </div>
</div>