<form [formGroup]="form" class="d-flex flex-column">
  <mat-form-field>
    <!-- none, 1, 1-3, 3-5, +5 -->
    <mat-select placeholder="¿Que desayuno?" floatPlaceholder="never" formControlName="workingdayBreakfast">
      <mat-option *ngFor="let amount of unitAmount | enumKeys" [value]="amount.key">
        {{ amount.value }} Alimento(s)
      </mat-option>
    </mat-select>
  </mat-form-field>

  <mat-checkbox formControlName="workingdayMidDay">¿Comiste algo a media mañana?</mat-checkbox>
  <mat-form-field *ngIf="form.controls.workingdayMidDay.value">
    <!-- none, 1, 1-3, 3-5, +5 -->
    <mat-select placeholder="Indica el que:" floatPlaceholder="never" formControlName="workingdayMidDayDescription">
      <mat-option *ngFor="let amount of unitAmount | enumKeys" [value]="amount.key">
        {{ amount.value }} Alimento(s)
      </mat-option>
    </mat-select>
  </mat-form-field>

  <mat-form-field>
    <!-- none, 1, 1-3, 3-5, +5 -->
    <mat-select placeholder="¿Que comio?" floatPlaceholder="never" formControlName="workingdayLunch">
      <mat-option *ngFor="let amount of unitAmount | enumKeys" [value]="amount.key">
        {{ amount.value }} Alimento(s)
      </mat-option>
    </mat-select>
  </mat-form-field>

  <mat-checkbox formControlName="workingdaySnack">¿Comiste algo a media tarde?</mat-checkbox>
  <mat-form-field *ngIf="form.controls.workingdaySnack.value">
    <!-- none, 1, 1-3, 3-5, +5 -->
    <mat-select placeholder="Indica el que:" floatPlaceholder="never" formControlName="workingdaySnackDescription">
      <mat-option *ngFor="let amount of unitAmount | enumKeys" [value]="amount.key">
        {{ amount.value }} Alimento(s)
      </mat-option>
    </mat-select>
  </mat-form-field>

  <mat-form-field>
    <!-- none, 1, 1-3, 3-5, +5 -->
    <mat-select placeholder="¿Que ceno?" floatPlaceholder="never" formControlName="workingdayDinner">
      <mat-option *ngFor="let amount of unitAmount | enumKeys" [value]="amount.key">
        {{ amount.value }} Alimento(s)
      </mat-option>
    </mat-select>
  </mat-form-field>

  <mat-checkbox formControlName="workingdayBed">¿Comiste algo a media noche?</mat-checkbox>
  <mat-form-field *ngIf="form.controls.workingdayBed.value">
    <!-- none, light, heavy food -->
    <mat-select placeholder="Indica el que:" floatPlaceholder="never" formControlName="workingdayBedDescription">
      <mat-option *ngFor="let type of foodType | enumKeys" [value]="type.key">
        {{ type.value }}
      </mat-option>
    </mat-select>
  </mat-form-field>

  <mat-form-field>
    <!-- none, 0.5L, 1L, 1.5L, 2L -->
    <mat-select placeholder="¿Cuanta agua toma?" floatPlaceholder="never" formControlName="workingdayWater">
      <mat-option *ngFor="let water of waterAmount | enumKeys" [value]="water.key">
        {{ water.value }}
      </mat-option>
    </mat-select>
  </mat-form-field>

  <mat-form-field>
    <!-- none, morning, evening, all -->
    <mat-select placeholder="¿Suele picar entre horas?" floatPlaceholder="never" formControlName="workingdayCheatFood">
      <mat-option *ngFor="let cheat of cheatTime | enumKeys" [value]="cheat.key">
        {{ cheat.value }}
      </mat-option>
    </mat-select>
  </mat-form-field>

  <mat-form-field>
    <!-- none, 1, 1-3, 3-5, +5 -->
    <mat-select placeholder="¿Tomo refrescos?" floatPlaceholder="never" formControlName="workingdayTonics">
      <mat-option *ngFor="let amount of unitAmount | enumKeys" [value]="amount.key">
        {{ amount.value }} Vaso(s)
      </mat-option>
    </mat-select>
  </mat-form-field>

  <mat-form-field>
    <!-- none, 1, 1-3, 3-5, +5 -->
    <mat-select placeholder="¿Tomo alcohol?" floatPlaceholder="never" formControlName="workingdayAlcohol">
      <mat-option *ngFor="let amount of unitAmount | enumKeys" [value]="amount.key">
        {{ amount.value }} Copa(s)
      </mat-option>
    </mat-select>
  </mat-form-field>

  <mat-checkbox formControlName="workingdaySmoke">¿Fumó?</mat-checkbox>
</form>