<h1 mat-dialog-title>Dieta Fin de Semana</h1>
<div mat-dialog-content class="min-size py-2">
    <app-poll-week-end-diet-form #form [model]="poll"></app-poll-week-end-diet-form>
</div>
<div class="modal-footer" mat-dialog-actions>
    <button (click)="onSubmit()" mat-raised-button color="primary">Save</button>
    <button (click)="onCancel()" mat-raised-button color="secondary">Discard</button>
</div>