@mixin custom-components {

    $nutryGreen: #00733e;
    $nutryGrey: #222d32;

    .z-1 {
        z-index: 1;
    }

    button, .btn {
        outline: none;
      
        &:focus {
          outline: none;
          box-shadow: none;
        }
    }

    .btn-custom {
        color: white;
        text-transform: uppercase;
        font-size: .75rem;
        font-weight: 500;
        padding: .75rem 1.25rem;
        letter-spacing: 1px;
    }
    
    .navbar-custom {
        font-weight: 700;
        color: white;
        .nav-link {
            color: #ddd;
            &:hover {
                color: $nutryGrey;
            }
            &.active {
                background-color: $nutryGrey;
                &:hover {
                    color: #ddd;
                }
            }
        }
    }
    
    .btn-gradient {
        background-color: $nutryGrey;
        transition: background .3s ease-in-out;
        
        &:hover {
            color: white;
            background-color: $nutryGreen;
        }
        
        &.active {
            color: white;
            background-color: $nutryGreen;
            box-shadow: none;
        }
    }

    .bg-custom-gradient{
        background-image: linear-gradient(to top, #dfe9f3 0%, white 100%);
    }
    
    .bg-custom-gradient-green{
        background: linear-gradient(45deg, #56ab2f, #a8e063);
    }
    
    .swiper-pagination-bullet {
        background-color: $nutryGreen;
        opacity: 0.6;
    }
    .swiper-pagination-bullet-active {
        background-color: #222d45;
        opacity: 1;
    }

    .ui-widget {
        font-family: 'Raleway', sans-serif !important;
        &.ui-datatable {
            .ui-datatable-thead {
                th {
                    background-color: $nutryGreen !important;
                    border-color: $nutryGrey !important;
                    color: white !important;
                    font-size: 1rem !important;
                    font-weight: 500 !important;
                    letter-spacing: 2px !important;
                    &:hover {
                        color: #222d45 !important;
                    }
                    &.ui-state-active {
                        background-color: $nutryGrey !important;
                        color: #ddd !important;
                    }
                }
            }
            .ui-datatable-data tr{
                border-color: $nutryGrey !important;
                &.ui-datatable-odd {

                }
                &.ui-datatable-even{
                    background-color: #f0f0f0;
                }
                &.ui-state-highlight {
                    background-color: $nutryGrey !important;
                    color: #ddd !important;
                }
				td {
					padding: .25em .5em;
				}
            }
		}
    }
}