$md-nutrygreen: (
    50 : #e0eee8,
    100 : #b3d5c5,
    200 : #80b99f,
    300 : #4d9d78,
    400 : #26885b,
    500 : #00733e,
    600 : #006b38,
    700 : #006030,
    800 : #005628,
    900 : #00431b,
    A100 : #bdc0c2,
    A200 : #919699,
    A400 : #434d51,
    A700 : #192226,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #ffffff,
        500 : #ffffff,
        600 : #ffffff,
        700 : #ffffff,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #000000,
        A200 : #000000,
        A400 : #ffffff,
        A700 : #ffffff,
    )
);

$md-nutrygrey: (
    50 : #e4e6e6,
    100 : #bdc0c2,
    200 : #919699,
    300 : #646c70,
    400 : #434d51,
    500 : #222d32,
    600 : #1e282d,
    700 : #192226,
    800 : #141c1f,
    900 : #0c1113,
    A100 : #b3d5c5,
    A200 : #80b99f,
    A400 : #00733e,
    A700 : #006030,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #ffffff,
        400 : #ffffff,
        500 : #ffffff,
        600 : #ffffff,
        700 : #ffffff,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #000000,
        A200 : #000000,
        A400 : #ffffff,
        A700 : #ffffff,
    )
);


$anms-primary: mat-palette($md-nutrygreen);
$anms-accent: mat-palette($md-nutrygrey);

$anms-theme: mat-light-theme($anms-primary, $anms-accent);

.mat-sidenav{
	background: linear-gradient(45deg, #56ab2f, #a8e063);
}
