<div class='card shadow-none border-bottom-0 card-profile text-center'>
  <div class='card-body'>
    <a class="nav-link" [routerLink]="['./user']">
      <img alt='' class='card-img-profile' src="assets/img/logoNutricynn.png" width="120rem">
    </a>
  </div>
</div>
