<div class="container">
  <div class="card shadow-1">
    <div class="card-body">
      <app-user-diet-history *ngFor="let diet of data$ | async" [diet]="diet"></app-user-diet-history>
    </div>
  </div>
</div>