<div class="container-fluid py-3">
  <button class="float-right z-1" mat-fab (click)="openDialog()">
    <mat-icon>edit</mat-icon>
  </button>
  <div class="pt-3 px-3">
    <app-user-profile [user]="model"></app-user-profile>
  </div>
</div>