<div class="container-fluid d-flex justify-content-between mt-5">
    <div class="card shadow-animated mr-3" *ngFor="let meal of day.meals">
        <div class="card-header bg-primary text-white d-flex justify-content-between">
            <h3 class="card-title">{{ meal.mealName.name }}</h3>
            <button mat-icon-button color="warn" (click)="deleteMeal(meal)">
                <mat-icon class="mat-24">delete</mat-icon>
            </button>
        </div>
        <div class="card-body">
            <app-admin-diet-food-editor [meal]="meal"></app-admin-diet-food-editor>
        </div>
    </div>

    <div class="card shadow-animated">
        <div class="card-header d-flex justify-content-between">
            <form class="d-flex flex-column" [formGroup]="mealNameForm" (submit)="addMeal()">
                <mat-form-field>
                    <mat-select placeholder="Meal Name" floatPlaceholder="never" formControlName="mealName">
                        <mat-option *ngFor="let mealName of mealNames | async" [value]="mealName">
                            {{ mealName.name }}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
                <mat-form-field>
                    <input type="time" matInput formControlName="time" id="time" placeholder="Meal time">
                    <mat-error control="mealNameForm.controls.time">Campo obligatorio</mat-error>
                </mat-form-field>
                <button class="mt-3" type="submit" mat-raised-button color="primary">
                    Add Meal
                </button>
            </form>
        </div>
    </div>
</div>