<div class="d-flex justify-content-between mb-2">
  <mat-input-container class="w-100" #gb floatPlaceholder="false">
      <input #gb matInput placeholder="Search">
  </mat-input-container>
  <button class="ml-3" mat-fab (click)="openDialog()">
      <mat-icon>create</mat-icon>
  </button>
</div>
<p-dataTable [value]="datas | async" selectionMode="single" [globalFilter]="gb" (onRowDblclick)="onRowSelect($event)">
  <p-column field="name" header="Name" sortable="true"></p-column>
  <p-column field="fatherCategory.name" header="Parent" sortable="false"></p-column>
  <p-column [style]="{'width':'10%', 'text-align':'center'}">
      <ng-template let-item="rowData" pTemplate="body">
          <button mat-icon-button color="warn" (click)="deleteItem(item)">
              <mat-icon class="mat-24">delete</mat-icon>
          </button>
      </ng-template>
  </p-column>
</p-dataTable>