<mat-accordion displayMode="flat">
    <mat-expansion-panel *ngFor="let food of meal.foods" hideToggle="true">
        <mat-expansion-panel-header>
            <mat-panel-title class="align-items-center">
                {{food.name | capitalize:1 }}
            </mat-panel-title>
            <mat-panel-description class="justify-content-end">
                <button mat-icon-button color="warn" (click)="deleteFood(food)">
                    <mat-icon>delete</mat-icon>
                </button>
            </mat-panel-description>
        </mat-expansion-panel-header>
        <app-admin-diet-nutrient-editor [food]="food"></app-admin-diet-nutrient-editor>
    </mat-expansion-panel>

    <mat-expansion-panel hideToggle="true">
        <mat-expansion-panel-header>
            <mat-panel-title>
                Add Food
            </mat-panel-title>
        </mat-expansion-panel-header>
        <form class="d-flex flex-column" [formGroup]="foodForm" (submit)="addFood()">
            <mat-form-field>
                <input matInput formControlName="name" id="name" placeholder="Food name">
                <mat-error control="foodForm.controls.name">Campo obligatorio</mat-error>
            </mat-form-field>
            <button type="submit" mat-raised-button color="primary">
                Add Food
            </button>
        </form>
    </mat-expansion-panel>
</mat-accordion>