<h3 mat-dialog-title>{{ title }}</h3>
<div mat-dialog-content class="min-size py-2">
    {{ message }}
    <span class="ml-2" *ngIf="item">
        <strong> {{item.name | capitalize}} </strong>
    </span>
</div>
<div class="modal-footer" mat-dialog-actions>
    <button (click)="dialogRef.close(true)" mat-raised-button color="warn">OK</button>
    <button (click)="dialogRef.close()" mat-raised-button color="secondary">Cancel</button>
</div>