<nav class="navbar navbar-expand navbar-light navbar-custom bg-custom-gradient-green sticky-top" id="mydbnav">
    <a class="navbar-brand" href="#">
        <img width="50pm" class="img-fluid mr-2" src="assets/img/logoNutricynn.png">
        <span class="h3 heading align-middle">NUTRICYNN</span> 
    </a>
</nav>

<mat-sidenav-container>
    <mat-sidenav #dashboardsidenav mode="side" opened="true" align="end">
        <app-sidebar-admin-menu></app-sidebar-admin-menu>
    </mat-sidenav>
    <div class="container-fluid bg-light mb-3">
        <app-admin-nutry-index></app-admin-nutry-index>
    </div>
</mat-sidenav-container>