.heading{
    color: #222d45;
    letter-spacing: 5px;
    font-weight: 800;
}

md-sidenav {
    display: flex;
    overflow: visible;
    margin-left: 2em;
}

.badge-notify{
    position: relative;
    top: -1em;
}
.navbar-nav {
	margin:0;
}
.navbar-nav>li {
	float:none;
    display:inline-block;
}
.navbar-nav>li>a {
  padding-top: 15px;
  padding-bottom: 15px;
}
.notifications-popup{
    width: 20rem;
    box-shadow: 2px 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
    border-radius: 0px;
}