<h1 mat-dialog-title>
    Edit {{ title }}
</h1>
<div mat-dialog-content class="min-size py-2">
    <form [formGroup]="form" class="d-flex flex-column">
        <mat-form-field>
            <input matInput formControlName="name" id="name" placeholder="Name">
            <mat-error control="form.controls.name">Campo obligatorio</mat-error>
        </mat-form-field>
        <mat-form-field>
            <mat-select placeholder="Category" formControlName="category">
                <mat-option *ngFor="let category of categories | async" [value]="category">
                    {{ category.name }}
                </mat-option>
            </mat-select>
        </mat-form-field>
        <mat-form-field>
            <input type="number" step="0.01" matInput formControlName="energy" id="energy" placeholder="Energy">
            <mat-error control="form.controls.energy">Campo obligatorio</mat-error>
        </mat-form-field>
        <mat-form-field>
            <input type="number" step="0.01" matInput formControlName="carbs" id="carbs" placeholder="Carbs">
            <mat-error control="form.controls.carbs">Campo obligatorio</mat-error>
        </mat-form-field>
        <mat-form-field>
            <input type="number" step="0.01" matInput formControlName="fats" id="fats" placeholder="Fats">
            <mat-error control="form.controls.fats">Campo obligatorio</mat-error>
        </mat-form-field>
        <mat-form-field>
            <input type="number" step="0.01" matInput formControlName="proteins" id="proteins" placeholder="Proteins">
            <mat-error control="form.controls.proteins">Campo obligatorio</mat-error>
        </mat-form-field>
    </form>
</div>
<div class="modal-footer" mat-dialog-actions>
    <button (click)="onSubmit()" mat-raised-button color="primary">Save</button>
    <button (click)="onCancel()" mat-raised-button color="secondary">Discard</button>
</div>