<h1 mat-dialog-title>
  <ng-template [ngIf]="data.id" [ngIfElse]="create">
    Edit {{ title }}
  </ng-template>
  <ng-template #create>
    Create {{ title }}
  </ng-template>
</h1>
<div mat-dialog-content class="min-size py-2">
  <form [formGroup]="form" class="d-flex flex-column">
    <mat-form-field>
      <input matInput formControlName="username" id="username" placeholder="Username">
      <mat-error control="form.controls.username">Campo obligatorio</mat-error>
    </mat-form-field>
    <mat-form-field>
      <input matInput formControlName="email" id="email" placeholder="Email">
      <mat-error control="form.controls.email">Campo obligatorio</mat-error>
    </mat-form-field>
    <mat-form-field>
      <input type="password" matInput formControlName="password" id="password" placeholder="Password">
      <mat-error control="form.controls.password">Campo obligatorio</mat-error>
    </mat-form-field>
    <mat-checkbox formControlName="enabled">Activo</mat-checkbox>
    <mat-form-field>
      <input matInput formControlName="name" id="name" placeholder="Name">
      <mat-error control="form.controls.name">Campo obligatorio</mat-error>
    </mat-form-field>
    <mat-form-field>
      <input matInput formControlName="lastName" id="lastName" placeholder="Last Name">
      <mat-error control="form.controls.lastName">Campo obligatorio</mat-error>
    </mat-form-field>
    <mat-form-field>
      <input matInput [matDatepicker]="birthday" placeholder="Birthday" formControlName="birthday">
      <mat-datepicker-toggle matSuffix [for]="birthday"></mat-datepicker-toggle>
      <mat-datepicker #birthday></mat-datepicker>
    </mat-form-field>
    <mat-form-field>
      <input matInput type="tel" formControlName="phone" id="phone" placeholder="Phone">
      <mat-error control="form.controls.phone">Campo obligatorio</mat-error>
    </mat-form-field>
    <mat-form-field>
      <input matInput formControlName="address" id="address" placeholder="Address">
      <mat-error control="form.controls.address">Campo obligatorio</mat-error>
    </mat-form-field>
    <mat-form-field>
      <input type="number" step="0.01" matInput formControlName="weight" id="weight" placeholder="Weight">
      <mat-error control="form.controls.weight">Campo obligatorio</mat-error>
    </mat-form-field>
    <mat-form-field>
      <input type="number" step="0.01" matInput formControlName="height" id="height" placeholder="Height">
      <mat-error control="form.controls.height">Campo obligatorio</mat-error>
    </mat-form-field>
  </form>
</div>
<div class="modal-footer" mat-dialog-actions>
  <button (click)="onSubmit()" mat-raised-button color="primary">Save</button>
  <button (click)="onCancel()" mat-raised-button color="secondary">Discard</button>
</div>