<form [formGroup]="form" class="d-flex flex-column">
  <mat-checkbox formControlName="importantIllness">¿Tiene alguna enfermedad importante? </mat-checkbox>
  <mat-form-field *ngIf="form.controls.importantIllness.value">
      <input matInput formControlName="importantIllnessDescription" id="importantIllnessDescription" placeholder="Enfermedad(es):">
      <mat-error control="form.controls.importantIllnessDescription">Campo obligatorio</mat-error>
  </mat-form-field>

  <mat-form-field>
      <mat-select placeholder="Estado Biologico:" floatPlaceholder="never" formControlName="biologicalStatus">
          <mat-option *ngFor="let status of biologicalStatus | enumKeys" [value]="status.key">
              {{ status.value }}
          </mat-option>
      </mat-select>
  </mat-form-field>

  <mat-checkbox formControlName="eatingDisorder">¿Ha tenido algún tipo de TCA (Trastorno de la conducta alimentaria)? </mat-checkbox>

  <mat-checkbox formControlName="medicineRecord">¿Actualmente está tomando algún tipo de medicamento?</mat-checkbox>
  <mat-form-field *ngIf="form.controls.medicineRecord.value">
      <input matInput formControlName="medicineRecordDescription" id="medicineRecordDescription" placeholder="Medicamento(s):">
      <mat-error control="form.controls.medicineRecordDescription">Campo obligatorio</mat-error>
  </mat-form-field>
</form>