.card{
    &:after {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 0%;
        height: 5px;
        background-color: #00733e;
        transition: 0.5s;
    }
    &:hover {
        transform: scale(1.05);
        -webkit-box-shadow: 0 20px 35px 0 rgba(0, 0, 0, 0.08);
        box-shadow: 0 20px 35px 0 rgba(0, 0, 0, 0.08);

        &::after {
            width: 100%;
        }
    }
}

$size: 4em;
.material-icons.mat-icon {
    font-size: $size;
    height: auto;
    width: auto;
}