/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/icon?family=Material+Icons');
@import url('https://fonts.googleapis.com/css?family=Hind+Siliguri|Raleway');

@import 'themes/bootstrap/bootstrap.scss';

@import 'themes/custom-components.scss';
@include custom-components();

@import '~@angular/material/theming';
@include mat-core();

@import 'themes/default-theme.scss';

.default-theme {
  @include angular-material-theme($anms-theme);
}

body{
  font-family: 'Raleway', sans-serif !important;
}

h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6 {
  font-family: 'Hind Siliguri', sans-serif !important;
}

.full-screen{
  height: 100vh;
  width: 100vw;
}

.vertical-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

a {
  cursor: pointer !important;
}