<h1 mat-dialog-title>
    <ng-template [ngIf]="data?.id" [ngIfElse]="create">
        Edit {{ title }}
    </ng-template>
    <ng-template #create>
        Create {{ title }}
    </ng-template>
</h1>
<div mat-dialog-content class="min-size py-2">
  <form [formGroup]="form" class="d-flex flex-column">
    <mat-form-field>
      <mat-select placeholder="Base diet" floatPlaceholder="never" formControlName="diet">
        <mat-option *ngFor="let diet of diets | async" [value]="diet">
          {{ diet.name }}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <ng-container *ngIf="form.controls.diet.value">
      <mat-form-field>
        <input matInput [min]="today" [max]="maxDate" [matDatepicker]="startDate" placeholder="Start date" formControlName="startDate">
        <mat-datepicker-toggle matSuffix [for]="startDate"></mat-datepicker-toggle>
        <mat-datepicker #startDate></mat-datepicker>
      </mat-form-field>
      <mat-form-field *ngIf="form.controls.startDate.value">
        <input matInput [min]="form.controls.startDate.value" [max]="maxDate" [matDatepicker]="endDate" placeholder="Finish date"
          formControlName="endDate">
        <mat-datepicker-toggle matSuffix [for]="endDate"></mat-datepicker-toggle>
        <mat-datepicker #endDate></mat-datepicker>
      </mat-form-field>
    </ng-container>
  </form>
</div>
<div class="modal-footer" mat-dialog-actions>
  <button (click)="onSubmit()" mat-raised-button color="primary">Save</button>
  <button (click)="onCancel()" mat-raised-button color="secondary">Discard</button>
</div>