<h1 mat-dialog-title>
    <ng-template [ngIf]="data?.id" [ngIfElse]="create">
        Edit {{ title }}
    </ng-template>
    <ng-template #create>
        Create {{ title }}
    </ng-template>
</h1>
<div mat-dialog-content class="min-size py-2">
    <form [formGroup]="form" class="d-flex flex-column">
        <mat-form-field>
            <input matInput formControlName="name" id="name" placeholder="Name">
            <mat-error control="form.controls.name">Campo obligatorio</mat-error>
        </mat-form-field>
        <mat-form-field>
            <input matInput formControlName="shortName" id="shortName" placeholder="shortName">
            <mat-error control="form.controls.shortName">Campo obligatorio</mat-error>
        </mat-form-field>
        <mat-form-field>
            <input type="number" step="0.01" matInput formControlName="conversion" id="conversion" placeholder="conversion">
        </mat-form-field>
        <mat-form-field>
            <mat-select placeholder="Base Unit" floatPlaceholder="never" formControlName="baseUnit" id="baseUnit">
                <mat-option mat-option-empty></mat-option>
                <mat-option *ngFor="let unit of units | async">
                    {{ unit.name }}
                </mat-option>
            </mat-select>
        </mat-form-field>
    </form>
</div>
<div class="modal-footer" mat-dialog-actions>
    <button (click)="onSubmit()" mat-raised-button color="primary">Save</button>
    <button (click)="onCancel()" mat-raised-button color="secondary">Discard</button>
</div>