<div class="container-fluid py-3">
  <button class="float-right z-1" mat-fab (click)="openDialog()">
    <mat-icon>edit</mat-icon>
  </button>
  <div class="pt-3 px-3">
    <app-user-diet-history *ngFor="let diet of model" [diet]="diet"></app-user-diet-history>
  </div>
</div>